@import "../variables";
@import "../color";

.author-list {
    &__header {

        .author {

            .move-up {
                margin-top: -200px;

                @media screen and (max-width: $phone-size) {
                    margin-top: 0;
                }
            }

            &__banner {
                background-color: $blue1;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                height: 40vh;

                img {
                    height: 22vh;
                    padding-top: 2%;
                    padding-bottom: 2%;
                }
            }

            &__name {
                position: relative;
                font-size: 2rem;
                color: white;
                display: flex;
                align-items: center;
                margin-left: 33.3%;
                padding-left: 2rem;
                padding-right: 2rem;

                @media screen and(max-width: $phone-size) {
                    margin-left: 0;
                    text-align: center;
                    justify-content: center;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                h1 {
                    font-weight: 600;
                }
            }

            &__content {

                @media screen and (max-width: $phone-size) {
                    height: 50%;
                    margin-left: 5%;
                    margin-right: 5%;
                    padding-left: 0;
                }
            }

            &__subtitle {
                font-weight: 600;
                font-size: 1.2rem;
                margin-top: 1rem;
            }

            &__description {
                @media screen and (max-width: $tablet-size) {
                    font-size: 0.9rem;
                }
            }

            &__social {
              display: flex;
              text-align: center;
              flex-direction: row;
              justify-content: center;

              a {
                color: black;
                font-size: 2.5rem;
                margin-right: 1rem;
                text-decoration: none;
                text-align: center;

                &:hover {
                  color: $blue1;
                }
              }
              .eqco2 {
              }
              .icon-eqco2 {
                height: 2.3rem;
                vertical-align: baseline;
              }
            }

            &__photo {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    object-fit: cover;
                }
            }

            
        }

    }

    &__published {
        font-weight: 700;
        font-size: 3rem;
        margin-top: 5%;
        margin-left: 1.5%;

        @media screen and (max-width: $phone-size) {
            margin: 5%;
        }
    }

    &__posts {
        .nothing {
            font-size: 1.7rem;
            margin-top: 2%;
            margin-bottom: 2%;
        }
    }

}
