@import "../offers/summary";

.unlock-project {
   background-color: $blue3;
}

.unlock-delivery {
   background-color: $red1;
}

.unlock-management {
   background-color: $yellow1;
}

.unlock-transformation {
   background-color: $green1;
}

.black-card {
  background-color: black;
  color: white;
}

.impact-color {
   color: white;
   background-color: $blue1;
}

.unlock-project-color {
   color: $blue3;
}

.unlock-delivery-color {
   color: $red1;
}

.unlock-management-color {
   color: $yellow1;
}

.unlock-transformation-color {
   color: $green1;
}

#offers { 
  .topbar {
    height: $top-bar-height;
    background-color: white;
  }
  .col-black {
    height: $top-bar-height;
    background-color: black;
  }
}
