@import "../color";
@import "../variables.scss";

.offer-summary {
  @media screen and (min-width: 1300px) {
    padding: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }
  position: relative;
  overflow: visible;
   
  a {
    text-decoration: none;    
  }

  &__thumbnail {
  

    opacity : 0.15;
    transition: visibility 0.3s, opacity .5s ease-in-out;
    height: 236px;
    object-fit: cover;
    object-position: bottom;
    width: 100%;  
    display: block;
    position: absolute;
    left: 0;
    top: 0;
                
  }

  &__title {
    position: relative;  
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
    width: 100%;
    background-color: black;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title h3 {
  position: relative;  
    font-weight: 500;
    font-size: 1.3rem;
    width: 100%;
    hyphens: auto;
    text-align: center;

    @media screen and (min-width: $tablet-size) {
      font-size: 2.3rem;
    }
    @media screen and (min-width: 1300px) {
      font-size: 2.7rem;
    }
  }

  &__titlepromo {
    position: relative;  
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
    width: 100%;
    background-color: black;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__titlepromo h3 {
  position: relative;  
    font-weight: 500;
    font-size: 1.1rem;
    width: 100%;
    hyphens: auto;
    text-align: center;

    @media screen and (min-width: $tablet-size) {
      font-size: 1.8rem;
    }
    @media screen and (min-width: 1300px) {
      font-size: 2.2rem;
    }
  }

  &__subtitle {
  position: relative;  
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 400;
    color: black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    width: 100%;
    hyphens: auto;
    text-align: center;
  }
  &__promo {
  position: relative;  
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 400;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    width: 100%;
    hyphens: auto;
    text-align: center;
  }  
  &__icon {
  position: relative;  
    height: 10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  &__logo-wide {
    height: 8rem;
    @media screen and (max-width : 1490px) {
      display: none;
    }
    @media screen and (min-width: 1490px) {
      display: block;
    }
  }
  &__logo-slim {
    height: 10rem;
    @media screen and (max-width : 1490px) {
      display: block;
    }
    @media screen and (min-width: 1490px) {
      display: none
    }
  }
}
.shadowbox {
  width: 80%;
  margin-left: 3rem;
  margin-bottom: 3rem;
  border: 0px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #000, #000 40%, #ccc);
  
  @media print {
        display: none !important;
        z-index: 1;
    }

}