@import "../../variables";
@import "../../color";

.mission {

	.horizontal-banner {

		background-image: url('/images/mission/mission_banner.svg');
		background-size: cover;
		background-repeat: repeat-x;
		width: 100%;
		display: block;
	}

	.vertical-banner {
		content: "";
		background-color: black;
		width: 100%;
		height: 20vh;

		@media screen and (min-width: 769px) {
			height: 30vh;
		}
	}

	.content {
		background: $blue1;
		font-size: 17px;
		text-align: left;

		.vertical-banner {
			padding: 4rem 2rem;
			height: auto;

			@media screen and (min-width: 769px) {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 70vh;
				padding: 0 20px;
			}
		}

	}

	&__text {
		color: white;
		padding: 2rem;
		text-align: center;

		@media screen and (min-width: 769px) {
			padding-top: 0;
			padding-bottom: 0;
            padding-right: 1rem;
            padding-left: 1rem;
			text-align: left;
		}
	}

	.three-cols-layout .col {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
    
	.logo {
		width: 100%;
		height: 100%;
	}

}
