.motion {
	#video_desktop {
		width: 100%;
		height: auto;
		display: block;
	}


	@media only screen and (max-width: 500px) {
		#video_mobile {
			width: 100%;
			height: auto;
			display: block;
		}

	}
    video[poster] {
        object-fit: cover;
    }
}
