@import "../../variables";
@import "../../color";

/* Main navigation */
#sidenav {
	width: $navbar-width;
	position: fixed;
	z-index: 900;
	top: 0;
	right: 0;
	background-color: black;
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	transition: all 1s;

	@media screen and (max-width: $tablet-size) {
		display: none;
	}
	@media print {
        display: none !important;
        z-index: 1;
    }	

	.publication {
		border-radius: 120px 120px 120px 120px;
		height: 120px;
		width: 120px;
		border: solid 2px $blue1;
		display: block;
		vertical-align: middle;
		margin: 74px auto;

		a {
			color: white;
			text-decoration: none;
			display: block;
			border-radius: 120px 120px 120px 120px;
			height: 120px;
			width: 120px;
			line-height: 120px;
			margin: 0;
		}

		&::before,
		&::after {
			content: '';
			border-radius: 30px 30px 30px 30px;
			height: 30px;
			width: 30px;
			border: solid 2px $blue1;
			display: block;
			margin-left: auto;
			margin-right: auto;
			transition-duration: 0.4s;
		}

		&::before {
			margin-top: -45px;
			margin-bottom: 11px;
		}

		&::after {
			margin-top: 12px;
		}

		&:hover::after,
		&:hover::before {
			background-color: $blue1;
			transition-timing-function: ease;
			transition-duration: 0.4s;
		}

		&:hover::before {
			transform: translate(0px, 45px);
		}

		&:hover::after {
			transform: translate(0px, -45px);
		}

		&:hover,
		&:focus,
		&:active {
			background-color: $blue1;
		}
	}

	.menu {
		margin: 0;
		padding: 0;
		width: 100%;
		display: flex;
		flex-direction: column;

		&-item {
			display: block;
			margin: 0;
			padding: 0;
			list-style-type: none;
			width: 100%;

			a {
				font-size: 1em;
				z-index: 1;
				margin: 0 0 0 10px;
				max-width: $navbar-width - 11px;
				height: 3em;
				color: white;
				display: block;
				text-decoration: none;
				text-align: right;
				padding: 0.7em 1em 0.7em 0;

				&:hover,
				&:focus,
				&:active {
					color: white;
					font-weight: 500;
					transition-duration: 0.4s;
				}

				&::after {
					display: block;
					content: 'Background';
					border-radius: 30px 0 0 30px;
					top: -2.2em;
					position: relative;
					z-index: -1;
					margin: 0 0 0 0px;
					margin-left: auto;
					margin-right: auto;
					padding: 0.7em 1em 0.7em 0;
					color: $blue1;
					background-color: $blue1;
					transform: translate(200px, 0px);
					opacity: 0.6;
					transition-duration: 0.4s;
				}

				&:hover::after {
					width: $navbar-width;
					z-index: -1;
					transform: translate(0px, 0px);
					transition-duration: 0.4s;
				}

				&.active {
					font-weight: 600;
					border-radius: 30px 0 0 30px;
					transition-duration: 0.4s;

					&::after {
						width: $navbar-width;
						z-index: -1;
						transform: translate(0px, 0px);
						opacity: 1;
						transition-duration: 0.4s;
					}
				}

			}
		}
	}

	.social {
		padding: 12px;
		margin: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		li {
			display: inline-block;
			padding: 0;
			margin-left: 0.4rem;
			margin-right: 0.4rem;
			margin-top: 0;
			margin-bottom: 0;
			list-style-type: none;

			a {
				font-size: 2em;
				color: white;

				&:hover,
				&:focus,
				&:active {
					color: $blue1;
				}
			}
		}
	}
}
