@import "../../color";

.posts {
	position: relative;
            /* pour reussir à coller la premiere valeur et que l'ancre ne soit pas sous la top-bar */
             &:before {
               content:'';
               display:block;
               min-height:$top-bar-height;
               margin-top:-$top-bar-height;
               visibility:hidden;
             }


	.black-band {

		@media screen and (min-width: 1300px) {
			z-index: -2;
			position: relative;
			min-height: 346px;
			background-color: black;
		}
	}

	.post-summary {

		@media screen and (min-width: 1300px) {
			margin-top: -346px;
		}
        img {
            filter: grayscale(100%);
        }
	}
}
