@import "../../variables";
@import "../../color";

.results {

	.green {
		color: $green1;

		.activity__figures {
			background-color: $green1;
		}
	}

	.red {
		color: $red1;

		.activity__figures {
			background-color: $red1;
		}
	}

	.yellow {
		color: $yellow1;

		.activity__figures {
			background-color: $yellow1;
		}
	}

	.col {
		min-height: 132px;
	}

	.topband {
		display: none;

		@media screen and (min-width: 769px) {
			display: block;
            height: $top-bar-height;
		}
	}

	.headingsband {
		display: none;

		@media screen and (min-width: 769px) {
			background-color: black;
			z-index: 10;
			display: block;
			position: sticky;
			top: $top-bar-height;
		}

		.activity {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;

			&__title {
				font-weight: 600;
				font-size: 1.175rem;
				padding-left: 2rem;
				padding-right: 70px;
			}
		}
	}

	.activities {

		.activity {
		
		

			&__header {
				height: 1.83*$top-bar-height;
				display: flex;
				flex-direction: column;
				z-index: 20;
				top: $top-bar-height;
				position: sticky;
				padding-top: 0;
				align-items: center;
				justify-content: center;
				background-color: black;

				@media screen and (min-width: 769px) {
					margin-top: -(1.83*$top-bar-height);
				}
			}

			&__title {
				font-weight: 600;
				font-size: 1.15rem;
				padding-left: 2rem;

				padding-right: 10%;
				padding-bottom: 20px;
				padding-top: 20px;
			}

			&__icon {
				width: 40%;
				margin: 20% auto;
			}

			&__content {
				color: black;
				position: relative;
				display: flex;
				flex-direction: column;
			}

			&__description {
				padding: 0 2rem 56px;

				@media screen and (min-width: 769px) {
					min-height: 536px;
				}
                & p {
                    margin-top: 1rem;
                }
                & ul {
                    list-style-type:disc;
                    margin-left: 1.5rem;
                }
			}

			&__figures {

				.figure {
					padding: 1.375rem 2rem 0;
					background-color: inherit;

					&:first-child {
						padding-top: 56px;
					}

					&:last-child {
						padding-bottom: 56px;
					}

					&__value {
						color: white;
						font-weight: 600;
						font-size: 4rem;
					}
				}
			}

			&__toggle {
				border: none;
				width: 70%;
				background-color: white;
				color: inherit;
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
				font-weight: 600;
				padding: 5px 40px 5px 5px;
				font-size: 1.25rem;
				line-height: 1.75rem;
				text-align: right;

			}
		}
	}
}
