@import "../../variables";
@import "../../color";

.team {

	.horizontal-banner {
		min-height: $top-bar-height;
		background-color: $blue1;

		@media screen and (min-width: 769px) {
			background-color: white;
		}

		.vertical-banner {
			display: block;
			content: "";
			background-color: black;
			height: $top-bar-height;
		}
	}

	.teammates {

		.black-hidden {
			@media screen and (max-width: $phone-size) {
				display: none;
			}
		}

		.teammate {
			position: relative;
			cursor: pointer;
			height: $layout-column-width;
			text-align: center;

			@media screen and (min-width: 769px) {
				text-align: justify;
			}

			&__thumbnail {
				transition: all 1s ease;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
				}

				&:after {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					content: '';
					visibility: hidden;
					background-color: black;
					opacity: 0;
					transition: visibility 0.3s, opacity .5s ease-in-out;
				}
			}

			&__presentation {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				backdrop-filter: blur(4px);
				padding: 24px 32px;
				color: white;

				a {
					text-decoration: none;
					color: white;
				}
			}

			&__name {
				font-weight: 700;
				font-size: 1.75rem;
				text-align: center;
				margin-bottom: 10px;
				@media screen and (max-width: $phone-size) {
					font-size: 1.4rem;
				}
			}

			&__description {
				line-height: 1.3rem;
				font-size: 0.9rem;

				@media screen and (min-width: $small-pc-size) {
					font-size: 1rem;
				}

				@media screen and (max-width: $tablet-size) {
					font-size: 0.8rem;
					line-height: 1rem;
				}

				@media screen and (max-width: $phone-size) {
					font-size: 0.9rem;
					line-height: 1.4rem;
				}
			}

			&:hover,
			&:focus {

				.teammate__thumbnail:after {
					visibility: visible;
					opacity: 0.65;
				}

				.teammate__presentation {
					display: block;
				}
			}

			&__contact {
				margin: 15px auto;
				text-decoration: none;
				color: white;
				border: 3px solid white;
				border-radius: 90px;
				font-size: 1rem;
				width: 160px;
				height: 55px;
				display: flex;
				align-items: center;
				justify-content: center;

				&:hover,
				&:focus {
					color: $blue3;
					font-weight: 600;
					background-color: white;
				}
			}
		}

		a {
			text-decoration: none;
			font-size: 0;
		
			.disclaimer {
				display: flex;
				flex-direction: column;
				background-color: black;
				height: $layout-column-width;
				padding: 24px 32px;
				font-size: 1rem;
				text-align: center;
				margin-right: 2rem;
				margin-left: 2rem;
		
				@media screen and (min-width: $phone-size) {
					text-align: left;
					padding-top: 84px;
					margin-right: 5%; //70%
					margin-left: 5%;
		
				}
		
				@media screen and (max-width: $tablet-size) and (min-width: $phone-size) {
					padding-top: 50px;
					font-size: 0.9rem;
				}
		
				h3 {
					font-weight: 700;
					font-size: 1.125rem;
				}
		
		
				&__team {
					color: $blue3;
					margin-bottom: 27px;
				}
		
				&__community {
					color: white;
				}
			}
		}
	}
}
