@import "../../color";

.testimonials {
	background-color: $blue1;

	@media screen and (min-width: 769px) {
		padding: 42px 90px;
		height: 85vh;
	}
	
	ul {
		background-color: inherit;
	}

	.carousel {
		padding: 20px 0;

		@media screen and (min-width: 769px) {
			padding: 0;
		}
	}

	.testimonial {
		height: 100%;
		display: flex;
		flex-direction: column;
		font-family: Poppins, sans-serif;
		font-size: 1.125rem;
		line-height: 1.5rem;
		padding: 0 50px;

		@media screen and (min-width: 769px) {
			padding: 0 50px;
		}

		&__text {
			font-family: 'Playfair Display', serif;
			font-style: italic;
			text-align: center;
			font-size: 1.25rem;
			line-height: 1.75rem;

			@media screen and (min-width: 769px) {
				font-size: 1.8rem;
				line-height: 2.3rem;
			}
		}

		&__author {
			font-weight: 600;
			font-size: 1.75rem;
			margin-top: 32px;

			@media screen and (min-width: 769px) {
				margin-top: 64px;
			}
		}

		&__company {
			margin-bottom: 26px;
		}
	}
}
