@import "../../variables";
@import "../../color";

.values {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.5s;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    /* pour reussir à coller la premiere valeur et que l'ancre ne soit pas sous la top-bar */
    /*
    &:before {
      content:'';
      display:block;
      height:$top-bar-height;
      margin-top:-$top-bar-height;
      visibility:hidden;
    }
    */

	@media screen and (min-width: 769px) {
		padding: 0;
		height: 100vh;
	}

	.value {
		color: white;
		padding: 12px 18px 12px 18px;
		opacity: 0.7;
		background-color: black;
		backdrop-filter: blur(6px);
		margin-bottom: 2.5%;
		margin-top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		cursor: pointer;
        min-height: 18vh;

		&:first-of-type {
			margin-top: 0;
            padding-top: $top-bar-height;
			@media screen and (max-width: $phone-size) {
				padding-top: 0;
			}
		}
		&:last-of-type {
			margin-bottom: 0;
		}

		&__title {
			font-weight: 600;
			font-size: 1.5rem;
			@media screen and (max-width: $phone-size) {
				font-size: 1.3rem;
			}
		}

		&__summary {
			font-size: 1rem;
			@media screen and (max-width: $phone-size) {
				font-size: 0.8rem;
			}
		}

		&:hover {
			opacity: 1;
			transition: 0.5s;
		}

		/*  SUPPRIMER tant qu'on pas u volume d'article sur chaque tag valeur
    		&:hover {

			&:after {
				content: url('/images/arrow_right_white.svg');
				position: absolute;
				right: -2rem;
			}
		} */
	}

    & .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
}
