{{ define "main"}}
<main>
  <div class="error">
    <img src="{{ .Site.BaseURL }}/images/logo-aqoba-black.svg" alt="logo aqoba" class="logo">
    <div class="lost">
        <h1>Désolée la page que tu recherches est introuvable...</h1>
        <h1>Mais si tu as 5 minutes, tu peux lire un de ces 3 articles</h1>
    </div>
    
    <div class="centered-content">
      <div class="three-cols-layout">
          {{ range ( first 3 ( where .Site.RegularPages "Type" "posts" ).ByDate.Reverse ) }}
          <div class="col col--margined">
              {{ .Render "summary" }}
          </div>
          {{ end }}
      </div>
  </div>
  </div>
</main>
{{ end }}