<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
    {{ partial "head" . }}

    {{ partial "opengraph.html" . }}
    {{ partial "twitter_cards.html" . }}
    {{ $uploads := .Site.GetPage "Section" "uploads" }}
    {{- range (where .Site.RegularPages "Section" "values").ByParam "order" -}}
        {{- $thumbnail := $uploads.Resources.GetMatch (path.Base .Params.thumbnail) -}}
        {{- $background := $thumbnail.Resize "1800x webp photo" -}}
        <link rel="prefetch" href="{{ $background.Permalink }}">
    {{ end }}
    <script src="{{ .Site.BaseURL }}/js/video.js"></script>
    <script>
        var bg = [];
		(function(window, document, undefined){

		window.onload = init;

  		function init(){
			videoSourceSet({resize:true, resizeDelay:50});
			toggleCarousel();
			window.addEventListener('resize', toggleCarousel );
  		}

		})(window, document, undefined);

    </script>

</head>
<body class="with-sidenav">
	{{ partial "home/header" . }}
	{{ partial "home/motion" . }}
	{{ partial "home/values" . }}
	{{ partial "home/mission" . }}
	{{ partial "home/team" . }}
	{{ partial "home/offers" . }}
	{{ partial "home/posts" . }}
	{{ partial "home/testimonials" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}

	<script defer type="text/javascript" src="{{ .Site.BaseURL }}/js/main.js"></script>
	<script defer type="text/javascript" src="{{ .Site.BaseURL }}/js/carousel.js"></script>
	<script defer type="text/javascript" src="{{ .Site.BaseURL }}/js/menu.js"></script>
	<script defer data-domain="aqoba.fr" src="https://stats.aqoba.fr/js/plausible.js"></script>
</body>
</html>
