@import "../variables";
@import "../color";

.values-list {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    @media screen and (min-width: 769px) {
        padding: 0;
        height: 100vh;
    }

    a {
        text-decoration: none;
        color: white;
        padding: 12px 18px 12px 18px;
        opacity: 0.7;
        background-color: black;
        backdrop-filter: blur(6px);
        margin-bottom: 2.5%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        min-height: 18vh;
        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
            padding-bottom: $top-bar-height;
        }

        &:hover {
            opacity: 1;
            transition: 0.5s;
        }

        .value-list {


            &__title {
                font-weight: 600;
                font-size: 1.5rem;
            }

            &__summary {
                font-size: 1rem;
            }

        }

        & .col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100vh;
        }
    }
}