@import "../variables";
@import "../partials/posts/article";
@import "../partials/posts/navbar";
@import "../partials/posts/socialshare";

.value {

	&__illustration {
		display: block;
		max-height: 70vh;
        margin: auto;
	}

}
