@import "../variables";
@import "../color";

.footer {
	display: flex;
	flex-direction: column;
	background-color: black;
	padding: 40px 0;

	@media screen and (min-width: 769px) {
		flex-direction: row;
		padding: 68px $layout-column-padding-left;
		justify-content: space-between;
	}

	.brand {
		text-align: center;

		.logo {
			width: 160px;
			margin: 20px auto;

			@media screen and (min-width: 769px) {
				margin: 0;
			}
		}
	}

	.field {
		color: white;
		text-align: center;
		margin: 20px 0;

		@media screen and (min-width: 769px) {
		    text-align: left;
			margin: 0;
		}

		&__name {
			text-transform: uppercase;
			font-weight: 700;

			&:after {
				content: '';
				display: block;
				width: 36px;
				border: 1px solid white;
				background-color: white;
				border-radius: 2px;
				margin: 12px auto;

				@media screen and (min-width: 769px) {
					margin-left: 0;
				}
			}
		}

		&__info {
			font-weight: 300;
		}
        & a {
            text-decoration: none;
            color: white;
        }
	}

	.social-links {

		.social {

			li {
				display: inline-block;
				padding: 0;
				margin: 0;
				list-style-type: none;

				a {
					color: white;
					font-size: 1.2rem;
					margin-right: 10px;

					&:hover,
					&:focus,
					&:active {
						color: $blue1;
					}
				}
			}
		}
	}
}
