@import "../variables";

.header {
	min-height: $top-bar-height;
}

.top-bar {
	background-color: #01526d;
	position: fixed;
	padding: 6px 6px 6px 26px;
	width: 100%;
	max-height: $top-bar-height;
	z-index: 800;

	&--posts {
		background-color: white;
	}

	a {
		display: inline-block;
	}
	.container {
		display: block;
		position: relative;
		cursor: pointer;
		padding: 14px 18px 6px 6px;
		float: right;

		@media screen and (max-width: $tablet-size) {
			z-index: 1000;
		}
	}
}

.top-bar .logo {
	width: 160px;
	height: 6vh;
}

