@import "../../color";
@import "../../variables.scss";

.single-post__article {

	/* 💡️ This partial and its classes are exclusive to the posts/single page. */
	/* It is why it is encapsulate in a *upper-class* */

	.post {
		margin-bottom: 4rem;

		@media screen and (min-width: $phone-size) {
			margin-bottom: 8rem;
		}

		p {
			margin: 1.25rem 0;
		}

		&__socials {
			margin-top: 4rem;
		}

        &__tags {
			font-size: 1.125rem;
			line-height: 1.875rem;
			font-weight: 400;
			margin: 30px 0;
			color: black;
            & a {
                text-decoration: none;
                margin-right: 1rem;
            }
			.post__tag {
				color: $blue1;
			}
        }

		&__categories {
			font-size: 1.125rem;
			line-height: 1.875rem;
			font-weight: 400;
			margin: 30px 0;
		}

		&__category {
			text-decoration: none;
			color: black;
		}

		&__timedate {
			color: $grey1;
			font-weight: 500;
			font-size: 1rem;
		}

		&__authors {
			font-size: 1.625rem;
			line-height: 1.875rem;
			font-weight: 700;
            a {
                text-decoration: none;
                color: black;
            }
		}

		&__title {
			font-size: 3rem;
			line-height: 3.4375rem;
			font-weight: 700;
			max-width: 100%;
			margin: 12px 0;
		}

		&__summary {
			font-size: 1.625rem;
			line-height: 1.875rem;
			font-weight: 600;
			text-transform: uppercase;
			margin: 20px 0 40px;
		}

		&__content {
			font-size: 1.125rem;
			line-height: 1.875rem;
			font-weight: 400;
			text-align: justify;

			a {
				text-decoration: none;
				color: $blue3;
			}

            & ul {
                list-style-type:disc;
                margin-left: 2rem;
				margin-top: 1rem;
				& li {
					margin-bottom: 1rem;
				}
            }
            & ol {
                list-style-type: decimal;
                margin-left: 2rem;
				margin-top: 1rem;
				& li {
					margin-bottom: 1rem;
				}
            }
			& img {
				display: block;
				margin-left: auto;
				margin-right: auto;
                width: 100%;
			}
			& h2, h3, h4 {
                margin-top: 2rem;
				font-family: 'Khand';
				font-weight: 500;
			}
			  
		}
	}
}

