@import "../../color";
@import "../../variables.scss";

.single-post__navbar {

	/* 💡️ This partial and its classes are exclusive to the posts/single page. */
	/* It is why it is encapsulate in a *upper-class* */

	.categories {
		display: flex;
		flex-direction: column;
		margin: 4rem 0 0 6rem;

		@media screen and (min-width: $phone-size) {
			margin: 4rem 0 0 6rem;
		}

		&__link {
			text-decoration: none;
			font-weight: 600;
			padding: 1rem 4rem;
			
			display: inline-block;
  			position: relative;

			@media screen and (min-width: $phone-size) {
			    padding: 0;
			}

			@media screen and (min-width: $tablet-size) {
				&:after {
					content: '';
                	width: 13ch;
					position: absolute;
					transform: scaleX(0);
					height: 2px;
					bottom: 0;
					left: 0;
                	color: transparent;
					background-color: $blue2;
					transform-origin: bottom right;
					transition: transform 0.25s ease-out;
				}
				&:hover:after {
					transform: scaleX(1);
  					transform-origin: bottom left;
				}
			}
		}
	}

	.related {
		margin-top: 4rem;

		.post-link {
			margin-bottom: 20px;

			a {
				display: flex;
				flex-direction: row;
				text-decoration: none;
				color: inherit;
			}

			&__thumbnail {
				width: 180px;
				height: 120px;
				object-fit: cover;

				@media screen and (min-width: $tablet-size){
					max-width: 180px;
					max-height: 120px;
					object-fit: cover;
					width: 10vw;
				}
			}

			&__body {
				display: flex;
				flex-direction: column;
				align-items: start;
				justify-content: center;
				padding: 0 1rem;
			}

			&__value {
				font-size: 0.9375rem;
				line-height: 1.25rem;
			}

			&__title {
				font-weight: 700;
				font-size: 1.25rem;
				line-height: 1.25rem;
			}
            img {
                filter: grayscale(100%);
            }
		}

        h2 {
            font-size: 2rem;
            font-weight: 700;
            font-family: 'Khand';
        }
	}


}
