.single-post__article {

	/* 💡️ This partial and its classes are exclusive to the posts/single page. */
	/* It is why it is encapsulate in a *upper-class* */

	.share-icons {
		display: flex;
		justify-content: left;
		flex-wrap: wrap;
		padding-left: 0;

		& li {
			list-style-type: none;
		}

		& a {
			color: black;
			display: block;
			padding: 0.2em;
			font-size: 1.6em;
			background-color: white;
			text-align: center;
		}
	}

	.share-icons a > span {
		display: none;
	}

	/*
	.share-btn {

		&:hover {
			color: white;
			background-color: $blue1;
		}

		&:first-of-type {
			margin-left: 0;
		}
	}
	*/

}
