{{ define "opengraphheader" }}
{{ partial "opengraph.html" . }}
{{ partial "twitter_cards.html" . }}
{{ end }}


{{ define "main" }}
<section id="offers" class="offers">
    <div class="centered-content">
        <div class="three-cols-layout">
            <div class="col col--margined black-card">
                <div class="offer-summary">
                    <div class="center-center">
                        <img class="centered-content offer-summary__icon offer-summary__logo-wide" src="{{ .Site.BaseURL }}images/logo-aqoba-white.svg" alt="logo aqoba">
                        <img class="centered-content offer-summary__icon offer-summary__logo-slim" src="{{ .Site.BaseURL }}images/favicon-white.svg" alt="logo aqoba">
                    </div>
                    <h3 class="offer-summary__title impact-color ">L'agilité à impact</h3>
                </div>
            </div>
            {{ $index := 0 }}
            {{ range .Pages }}
            {{   if (and (modBool $index 2) (not (eq $index 0)) ) }}
            <div class="col col--margined black-card">
            </div>
            {{   end }}
            {{ $index = add $index 1}}
            <div class="col col--margined {{ .Params.Codename }} ">
                <div class="offer-summary">
                    {{ $uploads := .Site.GetPage "Section" "uploads" }}
                    {{ with $uploads.Resources.GetMatch (path.Base .Params.IconBgBlack) }}
                    <div class="center-center"><img class="centered-content offer-summary__icon" src="{{ .RelPermalink }}" alt="icon de l'offre {{ $.Title }}"></div>
                    {{ end }}
                    <a href="{{ .RelPermalink }}">
                        <h3 class="offer-summary__title {{ .Params.Codename }}-color ">{{ .Title }}</h3>
                    </a>
                    <h4 class="offer-summary__subtitle">{{ .Params.subtitle }}</h4>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
