{{ $class := .class }}
<div class="teammate {{ $class }}">
    <div class="col">
        <a href="/team/">
        <div class="disclaimer">
            <div class="disclaimer__team">
                <h3>L'équipe</h3>
                <p>
                    Nous sommes des passionnés<br />
                    Nous sommes des pragmatiques<br />
                    Nous partageons notre savoir
                </p>
            </div>
            <div class="disclaimer__community">
                <p>Nous nous appuyons sur une communauté de consultants indépendants en France : ce sont des
                    hommes
                    et
                    des
                    femmes de confiance qui partagent notre vision, nos valeurs et notre exigence.</p>
            </div>
        </div>
        </a>
    </div>
</div>