<header class="header">
    
    <div class="top-bar">
        <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}images/logo-aqoba-white.svg" alt="logo aqoba" class="logo"></a>
        <div class="container" onclick="onoff();">
            <input type="image" value="Off" id="menubutton" alt="bouton menu" visibility: hidden>
            <i id="icon" class="fa fa-bars fa-2x fa-inverse" aria-hidden="true"></i>
        </div>
    <nav id="sidenav">
        <div class="publication">
            <a href="{{ $.Site.BaseURL }}posts/">Publications</a>
        </div>
        {{ with .Site.Menus.main }}
        <ul class="menu">
            {{ range . }}
            <li class="menu-item"><a href="{{ .URL }}">{{ .Pre}}{{ .Name }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
        {{ with .Site.Params.social }}
        <ul class="social">
            {{ range . }}
                <li><a rel="me" aria-label="bouton partage {{ .icon }}" href="{{ .url }}"><i class="fa fa-{{ .icon }}" aria-hidden="true"></i></a></li>
            {{ end }}
        </ul>
        {{ end }}
    </nav>
</header>
