<section id="mission" class="mission">
  <div class="horizontal-banner">
    <div class="centered-content">
      <div class="three-cols-layout">
        <div class="col col--margined">
          <div class="vertical-banner"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="centered-content">
      <div class="three-cols-layout">
        <div class="col col--margined">
          <div class="vertical-banner">
            <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}/images/logo-aqoba-white.svg" alt="logo aqoba" class="logo"></a>
          </div>
        </div>
        <div class="col col--margined">
          <div class="mission__text">
            <p>Nous nous levons le matin pour transformer les organisations françaises <br>au bénéfice de leur performance et des personnes qui y travaillent au quotidien.</p>
          </div>
        </div>
        <div class="col col--margined">
          <div class="mission__text">
            <p>Notre force : nous aidons nos clients à mieux s’adapter, mieux délivrer et tirer le meilleur
              de chacun de leurs collaborateurs. Pour y arriver, nous les aidons à s’approprier les meilleures
              pratiques des champions du digital.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
