<section class="motion" id="accueil">
    
    <video id='video_desktop' muted autoplay loop playsinline 
           posterset="{{ .Site.BaseURL }}/images/mobile-poster.svg 500w, {{ .Site.BaseURL }}/images/desktop-poster.svg 1920w" 
        srcset="{{ .Site.BaseURL }}/videos/aqoba-header-mobile.mp4 500w, {{ .Site.BaseURL }}/videos/aqoba-header.mp4 1920w">
    </video>

    <script>
        function playPause() {
                    var videoMobile=document.getElementById("video_mobile");
                    if (videoMobile.paused)
                        videoMobile.play();
                    else
                        videoMobile.pause();
                }
    </script>
</section>
