<section id="offers" class="offers">
    <div class="centered-content topbar">
        <div class="three-cols-layout">
            <div class="col col--margined col-black">&nbsp;</div>
        </div>
    </div>
    <div class="centered-content">
        <div class="three-cols-layout">
            <div class="col col--margined black-card">
                <div class="offer-summary">
                    <div class="offer-summary__icon"></div>
                    <h3 class="offer-summary__title">
                        <img class="centered-content offer-summary__icon2 offer-summary__logo-wide" src="{{ .Site.BaseURL }}images/logo-aqoba-white.svg" alt="logo aqoba">
                        <img class="centered-content offer-summary__icon2 offer-summary__logo-slim" src="{{ .Site.BaseURL }}images/favicon-white.svg" alt="logo aqoba">
                    </h3>
                </div>
            </div>
            {{ $index := 0 }}
            {{ range where .Site.RegularPages "Section" "offers" }}
            {{   if (and (modBool $index 2) (not (eq $index 0)) ) }}
            <div class="col col--margined black-card">
                <div class="offer-summary__icon"></div>
                <div class="offer-summary__title impact-color">
                    <h3 class="impact-color">
                        L'agilité à impact
                    </h3>
                </div>
            </div>
            {{   end }}
            {{ $index = add $index 1}}
            <div class="col col--margined {{ .Params.Codename }} ">
                <div class="offer-summary">
                
                    <a href="{{ .RelPermalink }}">
                        {{ $uploads := .Site.GetPage "Section" "uploads" }}
                        {{ with $uploads.Resources.GetMatch (path.Base .Params.Thumbnail) }}
                   <img class="offer-summary__thumbnail" src="{{ .RelPermalink }}" alt="image de l'offre {{ $.Title }}">
                        {{ end }}                
                    </a>
                    {{ $uploads := .Site.GetPage "Section" "uploads" }}
                    {{ with $uploads.Resources.GetMatch (path.Base .Params.icon) }}
                    <div class="center-center"><img class="centered-content offer-summary__icon" src="{{ .RelPermalink }}" alt="icon de l'offre {{ $.Title }}"></div>
                    {{ end }}
                    <div class="offer-summary__title {{ .Params.Codename }}-color">
                        <a href="{{ .RelPermalink }}">
                            <h3 class="{{ .Params.Codename }}-color ">{{ .Title }}</h3>
                        </a>
                    </div>
                    <h4 class="offer-summary__subtitle">{{ .Params.subtitle }}</h4>
                </div>
    
            </div>
            {{ end }}
        </div>
    </div>
    <div class="centered-content topbar">
        <div class="three-cols-layout">
            <div class="col col--margined col-black">&nbsp;</div>
        </div>
    </div>
</section>

