<section id="actualites" class="posts">
    <div class="black-band"></div>
    <div class="centered-content">
        <div class="three-cols-layout">
            {{ range ( first 3 ( where .Site.RegularPages "Type" "posts" ).ByDate.Reverse ) }}
            <div class="col col--margined">
                {{ .Render "summary" }}
            </div>
            {{ end }}
        </div>
    </div>
</section>
