{{ $class := .class }}
<div class="teammate col col--margined {{ $class }}">
  <a class="sr-only" href="mailto:{{ .Params.email }}">Écrire à {{ .context.Title }}</a>
  <div class="teammate__thumbnail">
    {{ $uploads := .context.Site.GetPage "Section" "uploads" }}
    {{ with $uploads.Resources.GetMatch (path.Base .context.Params.thumbnail) }}
        {{ $image := .Resize "480x" | images.Filter images.Grayscale }}
        {{ $imageX2 := .Resize "960x" | images.Filter images.Grayscale }}
    <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}" srcset="{{ $image.RelPermalink }} 480w, {{ $imageX2.RelPermalink }} 960w">
    {{ end }}
  </div>
  <a href="{{ .context.Permalink }}">Page de {{ .Title }}
  <div class="teammate__presentation">
    <h3 class="teammate__name">{{ .context.Title }}</h3>
    <div class="teammate__description">{{ .context.Content }}</div>
    <a class="teammate__contact" tabindex="0" href="mailto:{{ .context.Params.email }}">Écrivez moi</a>
  </div>
</a>
</div>
