<section id="equipe" class="team">
  <div class="horizontal-banner">
    <div class="centered-content">
      <div class="three-cols-layout">
        <div class="col col--margined">
          <div class="vertical-banner"></div>
        </div>
      </div>
    </div>
  </div>

  {{ partial "team-carousel.html" . }}
</section>
