<section id="temoignages" class="testimonials">

  <div class="content">
    <div class="centered-content">
      <div id="testimonials-carousel" data-duration="5000" class="carousel">
        <ul>
          {{ range $index, $slide := .Site.Data.testimonials.citations }}
          <li id="testimonials-carousel_slide{{ add $index 1}}" style="min-width: 100%; padding-bottom: 600px;">
            <div class="testimonial {{ $index }}">
              <p class="testimonial__text">{{ $slide.Text | markdownify }}</p>
              <p class="testimonial__author">{{ $slide.Author }}</p>
              <p class="testimonial__company">{{ $slide.Company }}</p>
            </div>
          </li>
          {{ end }}
        </ul>
        <ol>
          {{ range $index, $page := .Site.Data.testimonials.citations }}
          {{ if (modBool $index 1) }}
          <li><a href="#testimonials-carousel_slide{{ add $index 1 }}">page {{ add $index 1 }}</a></li>
          {{ end }}
          {{ end }}
        </ol>
        <div class="prev">&lsaquo;</div>
        <div class="next">&rsaquo;</div>
      </div>
    </div>
  </div>
</section>