<section id="valeurs" class="values">
    <div class="centered-content">
        <div class="three-cols-layout">
            <div class="col col--margined">
                {{ $uploads := .Site.GetPage "Section" "uploads" }}
                {{ range (where .Site.RegularPages "Section" "values").ByParam "order" }}
                    {{ $thumbnail := $uploads.Resources.GetMatch (path.Base .Params.thumbnail) }}
                    {{ $background := $thumbnail.Resize "1800x webp photo" }}
                <div class="value" data-identifier="{{ .Params.identifier }}" role="button" tabindex="0">
                    <h3 class="value__title {{ .Params.identifier }}">{{ .Title }}</h3>
                    <div class="value__summary">{{ .Summary }}</div>
                </div>
                <script type="text/javascript">
                    bg["{{ .Params.identifier | safeJS }}"] = "{{ $background.Permalink | safeURL | safeJS}}";
                </script>
                {{ end }}
            </div>
        </div>
    </div>
</section>
