<footer class="footer">

	<div class="brand">
		<a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}/images/logo-aqoba-white.svg" alt="logo aqoba" class="logo"></a>
	</div>

	<div class="field address">
		<p class="field__name">Adresse</p>
		<p class="field__info">124 rue Legendre<br/>75017 PARIS</p>
	</div>

	<div class="field phone">
		<p class="field__name">Téléphone</p>
        <p class="field__info"><a href="tel:+33614183748">06 14 18 37 48</a></p>
	</div>

	<div class="field email">
		<p class="field__name">Mail</p>
        <p class="field__info"><a href="mailto:contact@aqoba.fr">contact@aqoba.fr</a></p>
	</div>

	<div class="field social-links">
		<p class="field__name">Vous pouvez nous suivre</p>
        <script src="//platform.linkedin.com/in.js" type="text/javascript">
          lang: en_US
        </script>
        <script type="IN/FollowCompany" data-id="78857629" ></script>
		<p class="field__info">
        <ul class="social">
        {{ range .Site.Params.social -}}
                <li><a rel="me" aria-label="réseau social {{ .icon }} aqoba" href="{{ .url }}"><i class="fa fa-{{ .icon }}" aria-hidden="true"></i></a></li>
        {{ end -}}
        </ul>
		</p>
	</div>
</footer>

