<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ if .IsHome }}aqoba{{ else }}aqoba - {{ .Page.Title }}{{ end }}</title>
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
{{ $sass := resources.Get "sass/style.scss" }}
{{ $style := $sass | css.Sass | resources.Minify}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ hugo.Generator }}
<!-- For all browsers -->
<link rel="icon" type="image/ico" href="{{ .Site.BaseURL }}/favicon.ico">

<link rel="icon" href="{{ .Site.BaseURL }}/images/favicon.svg">

<link rel=”mask-icon” href="{{ .Site.BaseURL }}/images/favicon-black.svg" color="#000000">

<!-- For iPad -->
<link rel="apple-touch-icon" type="image/png" sizes="167x167" href="{{ .Site.BaseURL }}/images/favicon-167x167.png">
<!-- For iPhone -->
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ .Site.BaseURL }}/images/favicon-180x180.png">

<!-- Progressive Web App -->
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff" />

<link rel="stylesheet" href="{{ .Site.BaseURL }}/fork-awesome-1.2.0/css/fork-awesome.min.css">
{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
