{{ $class := .class }}

{{ $image := .page.Resources.GetMatch .page.Params.thumbnail }}
{{ if not $image }}
    {{ $uploads := .page.Site.GetPage "Section" "uploads" }}
    {{ $image = $uploads.Resources.GetMatch (path.Base .page.Params.Thumbnail) }}
{{ end }}
{{ with $image }}
    {{ $data := slice }}
    {{ range slice "500" "800" "1200" "1500" "1920"}}
        {{ $data = $data | append ($image.Resize ( printf "%sx webp Center" .)) }}
    {{ end }}

    {{ with index $data 0 }}
        <picture>
            <source srcset="
                {{ range $data }}
                    {{ .RelPermalink }} {{ .Width }}w, 
                {{ end }}
            "/>

            <img class="{{ $class }}" src="{{ .RelPermalink }}" 
                srcset="
                {{ range $data }}
                    {{ .RelPermalink }} {{ .Width }}w, 
                {{ end }}"
            alt="image de l'article {{ $.page.Title }}">
        </picture>

    {{ end }}
{{ end }}
