<div class="post-list__categories">
    <div class="categories">
      {{ with .Site.GetPage "/posts" }}
      <a class="categories__link all" href="{{ .RelPermalink }}">Tous</a>
      {{ end }}
      {{ range (where .Site.RegularPages "Section" "values").ByParam "order" }}
      <a class="categories__link {{.Params.identifier}}" href="{{.RelPermalink}}">{{.Title}}</a>
      {{end}}
    </div>
    <div class="search">
      <form method="get" action="/search">
          <input id="search" aria-label="barre de recherche" class="search__input" name="q" type="text" placeholder="Rechercher"/> 
          <button class="search__button" aria-label="rechercher" type="submit"><i class="fa fa-search fa-lg"></i></button>
      </form>
    </div>
  </div>
