<meta property="og:title" content="{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.Description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />

{{- if (isset .Params "thumbnail") }}
    {{- if (.Resources.GetMatch .Params.thumbnail) }}
        {{- with .Resources.GetMatch .Params.thumbnail }}
            {{- with .Fill "1200x1200 jpeg Center" }}
<meta name="image" property="og:image" content="{{ .Permalink }}" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="{{.Width}}" />
<meta property="og:image:height" content="{{.Height}}" />
            {{- end }}
        {{- end }}
    {{- else }}
        {{- $uploads := .Site.GetPage "Section" "uploads" }}
        {{- with $uploads.Resources.GetMatch (path.Base .Params.thumbnail) }}
            {{- with .Fill "1200x1200 jpeg Center" }}
<meta name="image" property="og:image" content="{{ .Permalink }}" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="{{.Width}}" />
<meta property="og:image:height" content="{{.Height}}" />
            {{- end }}
        {{- end }}
    {{- end }}
{{- else }}
    {{- with .Site.Params.logo }}
<meta name="image" property="og:image" content="{{ . }}" />
<meta property="og:image:type" content="image/png" />
    {{- end }}
{{- end }}

{{- if .IsPage }}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" }}
<meta property="article:section" content="{{ .Section }}" />
{{ with .PublishDate }}<meta property="article:published_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
{{ with .Lastmod }}<meta property="article:modified_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
{{- end -}}

{{- with .Params.audio }}<meta property="og:audio" content="{{ . }}" />{{ end }}
{{- with .Params.locale }}<meta property="og:locale" content="{{ . }}" />{{ end }}
{{- with .Site.Params.title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
{{- with .Params.videos }}{{- range . }}
<meta property="og:video" content="{{ . | absURL }}" />
{{ end }}{{ end }}

{{- /* If it is part of a series, link to related articles */}}
{{- $permalink := .Permalink }}
{{- $siteSeries := .Site.Taxonomies.series }}
{{ with .Params.series }}{{- range $name := . }}
  {{- $series := index $siteSeries ($name | urlize) }}
  {{- range $page := first 6 $series.Pages }}
    {{- if ne $page.Permalink $permalink }}<meta property="og:see_also" content="{{ $page.Permalink }}" />{{ end }}
  {{- end }}
{{ end }}{{ end }}
