<div class="teammates">
    <div class="centered-content">
        {{ $item := 1}}
        <div id="teams-carousel" data-duration="5000" items="{{ $item }}" class="carousel">
            <ul>
                {{ $slideNumber := 1 }}
                <li id="teammate_slide{{ $slideNumber }}" class="three-cols-layout" style="min-width: calc(100%/{{ $item }});">
                {{ $teamMembers := (where site.RegularPages "Section" "team") | intersect (where site.RegularPages "Params.employee" true) | shuffle }}
                {{ $countAdditionalMember := mod (sub 5 (mod (len ($teamMembers)) 5)) 5 }}
                {{ $teamMembers = $teamMembers | append (first $countAdditionalMember $teamMembers) }}
                {{ $index := 0 }}
                {{ range $teamMembers }}
                    {{ if (and (modBool $index 5) (not (eq $index 0)) ) }}
                        {{ partial "home/community.html" ( dict "class" "black-hidden" ) }}
                </li>
                        {{ $slideNumber = add $slideNumber 1 }}
                <li id="teammate_slide{{ $slideNumber }}" class="three-cols-layout" style="min-width: calc(100%/{{ $item }});">
                    {{ end }}
                    {{ partial "home/teammate.html" ( dict "class" "" "context" . ) }}
                    {{ $index = add $index 1 }}
                {{ end }}
                {{ partial "home/community.html" ( dict "class" "black-hidden" ) }}
                </li>
            </ul>

            <ol>
                {{ range $slideRef := (seq $slideNumber) }}
                <li><a href="#teammate_slide{{ $slideRef }}">page {{ $slideRef }}</a></li>
                {{ end }}
            </ol>

            <div class="prev">&lsaquo;</div>
            <div class="next">&rsaquo;</div>
        </div>
    </div>
</div>
