{{- if (isset .Params "thumbnail") }}
    {{- with .Resources.GetMatch .Params.thumbnail }}
        {{- with .Resize "1200x jpeg" }}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ .Permalink }}" />
        {{- end }}
    {{- end }}
{{- else }}
    {{- with .Site.Params.logo }}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ . }}" />
    {{- end }}
{{- end }}
<meta name="twitter:title" content="{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}"/>
{{- with .Description }}
<meta name="twitter:description" content="{{ truncate 148 . }}"/>
{{- else }}
    {{- if .IsPage }}
<meta name="twitter:description" content="{{ truncate 148 .Summary }}"/>
    {{- else }}
        {{- with .Site.Params.description }}
<meta name="twitter:description" content="{{ truncate 148 .}}"/>
        {{- end }}
    {{- end }}
{{- end }}
{{- range .Site.Params.social }}
    {{- if eq .icon "twitter" }}
<meta name="twitter:site" content="@{{ .id }}"/>
    {{ end -}}
{{ end -}}
