{{ $ordinal := .ordinal }}

<div id="video-{{ $ordinal }}" class="video">


<div class="videotalks">
<div class="centered-content">
{{ $item := 1}} 
<div id="videos-carousel-{{ $ordinal }}" data-duration="5000" items="{{ $item }}" class="carousel">
<ul>
{{ $slideNumber := 1 }}
<li id="videotalk_slide{{ $slideNumber }}_{{ $ordinal }}" class="three-cols-layout" style="min-width: calc(100%/{{ $item }})">

{{ $videoMembers :=(where site.RegularPages "Section" "video") | intersect (where site.RegularPages "Params.nouveaute" "in" $ordinal ) | shuffle }}
{{ $videoMembers := $videoMembers | union ((where site.RegularPages "Section" "video") | intersect (where site.RegularPages "Params.theme" "in" $ordinal )) | shuffle }}
{{ $videoMembers := $videoMembers | union ((where site.RegularPages "Section" "video") | intersect (where site.RegularPages "Params.theme2" "in" $ordinal )) | shuffle}}


{{ $index := 0 }}
{{ range $videoMembers }}
{{ if (and (modBool $index 3) (not (eq $index 0)) ) }}
</li>
{{ $slideNumber = add $slideNumber 1 }}
<li id="videotalk_slide{{ $slideNumber }}_{{ $ordinal }}" class="three-cols-layout" style="min-width: calc(100%/{{ $item }});">
{{ end }}
{{ partial "posts/videodetail.html" ( dict "class" "" "context" . ) }}
{{ $index = add $index 1 }}
{{ end }}
</li>
</ul>

<ol>
{{ range $slideRef := (seq $slideNumber) }}
<li><a href="#videotalk_slide{{ $slideRef }}_{{ $ordinal }}">page {{ $slideRef }}</a></li>
{{ end }}
</ol>

<div class="prev">&lsaquo;</div>
<div class="next">&rsaquo;</div>
</div>
</div>
</div>

</div>
