@import "../posts/summary";

.post-list {

	&__header {

		.category {
			position: absolute;
			color: white;
			padding: 12px 18px 12px 18px;
			opacity: 0.7;
			background-color: black;
			backdrop-filter: blur(6px);
			margin-bottom: 2.5%;
			margin-top: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 10vh;


			&:first-of-type {
				margin-top: 0;
			}

			&:last-of-type {
				margin-bottom: 0;
			}

			&__title {
				font-weight: 600;
				font-size: 1.33rem;

				@media screen and (min-width: $tablet-size) {
					font-size: 1.5rem;
				}
			}

			&__summary {
				font-size: 0.85rem;

				@media screen and (min-width: $tablet-size) {
					font-size: 1rem;
				}

				@media screen and (max-width: $phone-size) {
					display: none;
				}
			}

			&:hover {
				opacity: 1;
				transition: 0.5s;
			}
		}

		.post-carousel {
			justify-content: flex-start;
			width: 100%;


			&__body {
				display: flex;
				flex-direction: column;
				z-index: 100;
				color: black;
				background-color: white;
				opacity: 0.9;
				width: 50%;
				height: 55%;
				position: relative;
				align-items: flex-start;
				justify-content: center;
				padding-left: 5%;
				padding-right: 2%;

				@media screen and (min-width: $small-pc-size) {
					width: 40%;
				}

				@media screen and (max-width: $tablet-size) {
					height: 80%;
				}

				@media screen and (max-width: $phone-size) {
					width: 60%;
					padding-left: 7%;
				}
			}
			
			&__values {
				display: flex;
				flex-wrap: wrap;
			}

			&__value {
				font-size: 1rem;
				margin-right: 1rem;

				@media screen and (max-width: $tablet-size) {
					font-size: 0.9rem;
				}
				@media screen and (max-width: $phone-size) {
					font-size: 0.6rem;
				}
			}

			&__title {
				text-align: start;
				font-weight: 800;

				@media screen and (max-width: $tablet-size){
					font-size: 1.2rem;
				}

				@media screen and (max-width: $phone-size) {
					font-size: 1.1rem;
				}

				a {
					//color: $yellow2;
					text-decoration: none;
				}
			}

			&__authors {
				position: relative;
				@media screen and (max-width: $phone-size) {
					line-height: 1ch;
				}
			}

			&__author {
				font-size: 1.1rem;
				text-align: start;

				@media screen and (max-width: $tablet-size) {
					font-size: 0.9rem;
				}
				@media screen and (max-width: $phone-size) {
					font-size: 0.7rem;
				}
			}

			&__content {
				font-size: 1rem;
				font-weight: 400;
				text-align: start;
				margin-bottom: 5%;

				@media screen and (max-width: $tablet-size){
					font-size: 0.85rem;
				}

				@media screen and (max-width: $phone-size) {
					display: none;
				}
			}

			&__readnext {
				margin-left: auto;

				@media screen and (max-width: $phone-size) {
					font-size: 1rem;
				}

				a {
					text-decoration: none;
					color: black;
				}
			}
		}
	}

	&__body {}

	&__categories {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 1rem 0;
		overflow-x: auto;

		@media screen and (min-width: 769px) {
			overflow-x: hidden;
		}

		.categories {
			display: flex;
			flex-direction: row;
			align-items: center;

			margin-left: 2%;

			@media screen and (max-width: $phone-size) {
				flex-direction: column;
				align-items: flex-start;
			}

			&__link {
				//padding: 1rem;
				margin: 1rem;
				text-decoration: none;
				font-weight: 700;
				position: relative;

				&:first-child {
					@media screen and (min-width: $phone-size){
						margin-left: 0;
					}
				}

				&:last-child {
					margin-right: 2rem;
				}

				@media screen and (max-width: $phone-size) {
					margin: 5%;
					margin-left: 20%;
				}

				@media screen and (min-width: $tablet-size) {
					&:after {
						content: '';
						width: 100%;
						position: absolute;
						transform: scaleX(0);
						height: 2px;
						bottom: 0;
						left: 0;
						color: transparent;
						background-color: $blue2;
						transform-origin: bottom right;
						transition: transform 0.25s ease-out;
					}

					&:hover:after {
						transform: scaleX(1);
						transform-origin: bottom left;
					}
				}
			}
		}
	}

	&__summaries {
		.citation {
			background-color: $blue1;
			display: inline-block;
			text-align: center;
			color: white;
			vertical-align: middle;
			margin-bottom: 5%;
			@media screen and (min-width: $phone-size) {
				margin-bottom: 15%;
			}

			&__text {
				font-size: 2rem;
				font-weight: 700;
				margin: 5%;
				margin-top: 40%;

				@media screen and (max-width: $small-pc-size) {
					margin-top: 30%;
					font-size: 1.5rem;
				}

				@media screen and (max-width: $phone-size) {
					margin-top: 10%;
				}
			}

			&__author {
				font-size: 1.5rem;
				font-weight: 600;
				margin-top: 15%;
				margin-bottom: 5%;
			}
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
		min-height: 100px;

		.pagination {
			display: flex;
			margin-top: 2%;
			justify-content: center;
			font-size: 1.55rem;
			border-radius: 50px;
			border: 3px solid black;
			min-width: auto;
			height: 50%;
			background-color: black;

			li {
				padding: 0.5%;
				font-family: "Poppins", sans-serif;
				font-weight: 700;
				color: $blue1;
				border: 1px solid black;
				padding-left: 15px;
				padding-right: 15px;
				transition: all 250ms ease-in-out;
				
				&:hover {
					background-color: $blue1;
					opacity: 0.6;
					a {
						transition: all 250ms ease-in-out;
						color: white;
						font-weight: 800;
					}
				}

				a {
					color: white;
					text-decoration: none;
				}
			}

			.active {
				background-color: $blue1;
				color: white;
			
				&:hover {
					opacity: 1;
					a {
						color: white;
						font-weight: 700;
					}
				}
			}

			.disabled {
				&:hover {
					background-color: black;
					opacity: 1;
					a {
						color: white;
					}
				}
			}

			.next, .previous, .last, .first {
				a {
					color: white;
				}
			}
			
			.first {
				border-top-left-radius: 100px;
    			border-bottom-left-radius: 100px;
			}
			.last {
				border-top-right-radius: 100px;
    			border-bottom-right-radius: 100px;
			}


			
		}
	}

}