@import "../color";
@import "../variables";

/* Base styling */

.search {
    width: 350px;
    margin-left: auto;
    margin-right: 5%;

    margin-top: 1%;
    margin-bottom: 1%;

    display: flex;


    @media screen and (max-width: $tablet-size) {
        width: 300px;
        margin-right: 2%;
    }

    @media screen and (max-width: $phone-size) {
        width: 300px;
        margin-left: 15%;
    }

    &__input {
        width: 80%;
        padding: 14px 24px;
        //padding-top: 10px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;

        color: $blue1;
        background-color: transparent;

        background-image: url("/images/favicon.svg");

        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid $blue1;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;

        &::placeholder {
            color: color($blue1 a(0.8));
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

        &:hover,
        &:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }
    }

    form {
        width: 100%;
        //border: 1px solid red;
    }

    &__button {
        height: 100%;
        background: $blue1;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 14px;
        border: 0;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 13%;
        padding-bottom: 5.5px;
        padding-top: 2px;

        .fa {
            padding-top: 6px;
        }

        @media screen and (max-width: $tablet-size) {
            display: none;
        }
    }

}

.back-button {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: large;

    position: absolute;
    left: 5%;
}