@import "../variables";
@import "../partials/posts/article";
@import "../partials/posts/navbar";
@import "../partials/posts/socialshare";

.single-post {

    &__header {
    }

    &__illustration {
        display: block;
        max-height: 70vh;
        object-fit: cover;
        width: 100%;
    }

    &__body {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $tablet-size) {
            flex-direction: row;
        }
    }

    &__article {

        .centered-content {
            padding: 0 2rem;

            @media screen and (min-width: $tablet-size) {
                padding: 0;
            }
        }


        @media screen and (min-width: $tablet-size) {
            width: 75%;
            padding: 0 7%;
        }

        blockquote {
            color: $blue3;
            font-size: 2.0rem;
            line-height: 2.3rem;
            margin-left: 4rem;
            margin-right: 4rem;
            border-left: solid 1px $blue3;
            padding-left: 2rem;
        }

        blockquote::before {
            color: $blue3;
            content: "\f10d";
            display: inline-block;
            font-family: ForkAwesome;
            font-size: 4.0rem;
            opacity: 0.2;
        }

        .block-highlight {
          color: $blue1;
          border-left: solid 1px $blue3;
          padding-left: 1em;
        }

        figure {
            margin-left: 2rem;
            margin-right: 2rem;
            text-align: center;
            iframe {
                width: 100%;
                aspect-ratio: 16 / 9;
            }
        }
        figure.center-small {
            margin-left: auto;
            margin-right: auto;
            max-width: 500px;
        }
        figure.center-large {
            margin-left: auto;
            margin-right: auto;
            max-width: 1200px;
        }
        figure.float-left-tiny {
            margin-left: 0px;
            margin-right: 40px;
            max-width: 150px;
            float:left ;
        }
        figure.float-right-tiny {
            margin-left: 0px;
            margin-right: 40px;
            max-width: 150px;
            float:right ;
        }
        &__arrow-up {
            text-align: right;
            font-size: 0.9em;
            margin-left: 1rem;
        }

    }

    &__navbar {
        border-top: 1px solid $grey2;

        @media screen and (min-width: $tablet-size) {
            width: 25vw;
            border-top: 0;
            border-left: 1px solid $grey2;
        }
    }

    &__footer {
        display: block;
    }

    h2, h3, h4 {
      clear: both;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: baseline;
      align-content: stretch;
      text-justify: none;
    }

    h2 {
        font-size: 2.4rem; 
    }
    h3 {
        font-size: 2rem; 
    }
    h4 {
        font-size: 1.6rem; 
    }


}
