@import "../color";
@import "../variables.scss";


.post-summary {
	.read {
		display: flex;
		height: 346px;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: -1;
	}

   	.lire {
       	padding-top: 100;
       	visibility: show;
       	z-index: 1;
   		border-radius: 120px 120px 120px 120px;
   		height: 120px;
   		width: 120px;
   		border: solid 2px white;
   		display: block;
   		margin-top : 45px; 
   		color: white;
   		background-color: black;
    	opacity: 0;    		  		
  	 	@media screen and (min-width: $tablet-size) {
      		opacity : 1;
      	}
		
   
   		a {
   			text-align: center;
   			text-decoration: none;
   			display: block;
   			border-radius: 120px 120px 120px 120px;
   			height: 120px;
   			width: 120px;
   			line-height: 120px;
   			margin: 0;
   		}
   		&::before,
		&::after {
			content: '';
			border-radius: 30px 30px 30px 30px;
			height: 30px;
			width: 30px;
			border: solid 2px white;
			display: block;
			margin-left: auto;
			margin-right: auto;
			transition-duration: 0.4s;
			background-color: black;
		}
   		&::before {
			margin-top: -45px;
			margin-bottom: 12px;
		}
		&::after {
			margin-top: 12px;
		}
				
	}

	font-size: 1rem;
	line-height: 1.5625rem;
	margin-bottom: 3rem;

	@media screen and (min-width: 1300px) {
		padding: 0;
		margin-bottom: 0;

		margin-right: 0;
		margin-left: 0;
	}

	&__thumbnail {
        margin-top: -346px;
        z-index: 10;
    	transition: visibility 0.3s, opacity .5s ease-in-out;
		height: 346px;
		object-fit: cover;
		object-position: bottom;
		width: 100%;  
        display: block;
	}
	
	&:hover,		
    &:focus {
        .post-summary__thumbnail {
            opacity: 0.55;
        }
    }	

	&__body {
        margin-top: 1rem;
	}

	&__authors {
		font-weight: 600;
        margin-bottom: 1em;
        padding-left: 1rem;
        padding-right: 1rem;
	}

	&__author {
		padding-left: 0;

        a {
            text-decoration: none;
            color: black;
        }
	}

	&__value {
        padding-left: 1rem;
        padding-right: 1rem;
		margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0;
        margin-bottom: 0;
        display: inline;
	}

	&__title {
        padding-left: 1rem;
        padding-right: 1rem;
		font-weight: 700;
		color: $blue1;
		margin-bottom: 8px;
		font-size: 1.7rem;
		line-height: 1.75rem;
        width: 100%;
		hyphens: auto;

		@media screen and (min-width: $tablet-size) {
			font-size: 2.3rem;
			line-height: 3.2rem;
		}
		@media screen and (min-width: 1300px) {
			font-size: 2.7rem;
			line-height: 3.2rem;
		}
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	&__content {
        padding-left: 1rem;
        padding-right: 1rem;
		font-size: 1rem;
    	text-align: justify;

		h2 {
			font-size: 1.4rem;
			margin-top: 0.4rem;
			margin-bottom: 0.2rem;
			font-weight: 500;
		}
	}:w

    img {
        filter: grayscale(100%);
    }
}

