{{ define "opengraphheader" }}
{{ partial "opengraph.html" . }}
{{ partial "twitter_cards.html" . }}
{{ end }}

{{ define "main" }}
<main>
  <div class="single-post">

    <div class="single-post__header">
      
      {{ $class := "single-post__illustration" }}
      {{ partial "image.html" (dict "class" $class "page" . ) }}

    </div>

    <div class="single-post__body">
      <div class="single-post__article">
        <div class="centered-content">
          {{ partial "posts/article.html" . }}
        </div>
      </div>
      <div class="single-post__navbar">
        {{ partial "posts/navbar.html" . }}
      </div>
    </div>

    <div class="single-post__footer">
    </div>
  </div>
	{{ partial "home/offers_pub" . }}
</main>
{{ end }}
