<article class="post-summary">
  {{ with .Resources.GetMatch .Params.thumbnail }}
  {{ with .Fill "500x500 webp Center" }}
  <div class="read">
   <div class="lire">
            <a href="{{ $.RelPermalink }}">Lire</a>
   </div>
  </div>
  <a href="{{ $.RelPermalink }}"><img class="post-summary__thumbnail" alt="image de l'article : {{ $.Title }}" src="{{ .RelPermalink }}"></a>
  {{ end }}
  {{ end }}
  <div class="post-summary__body">
    {{ range sort .Params.Values }}
        {{ with $.Site.GetPage (path.Join "values" .) }}
        <p class="post-summary__value {{ .Params.identifier }}">#{{ .Title }}</p>
        {{ end }}
    {{ end }}
    <h3 class="post-summary__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    <div class="post-summary__authors">
      {{ $authors := slice }}
      {{ range sort .Params.authors }}
      {{ with $.Site.GetPage "team" . }}
      {{ $authors = $authors | append (printf "<a href='%s'>%s</a>" .RelPermalink .Title) }}
      {{ end }}
      {{ end }}
      <span class="post-summary__author">Écrit par {{ delimit $authors ", " " et " | htmlUnescape | safeHTML}}</span>
    </div>
    <div class="post-summary__content">
        {{ .Summary | markdownify | plainify | safeHTML }} 
    </div>
  </div>
</article>
