@import "./color.scss";
@import "./variables.scss";

.error {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logo {
        width: 30%;
    }

    .lost {
        margin-bottom: 5%;
        text-align: center;
        h1 {
            font-weight: 600;
        }
    }
}

