/* Inspired from https://hugocodex.org/add-ons/slider-carousel/ */

@import "variables";

.carousel {
	position: relative;
}

#teams-carousel {
	ul {
		background: none;
		height: 100%;
	}
	ol {
		display: none;
	}
	.prev, .next {
		color: black;
		padding: 0;
	}
	/*ol li a {
		border: 2px solid black;
	}
	ol li.selected a {
		background: black;
	}*/
}

#videos-carousel, #videos-carousel-new, #videos-carousel-leadership, #videos-carousel-motivation, #videos-carousel-flux, #videos-carousel-comportement, #videos-carousel-talks   {
	ul {
		background: none;
		height: 100%;
		width: 92%;
	}
	ol {
		display: none;
	}
	.prev {
		color: black;
		padding: 0;
		font-size: 150px;
    	@media screen and (max-width: $phone-size) {
            font-size: 50px;
            }
        }
    .next {
    		color: black;
    		padding: 0;;
    		font-size: 150px;
        	@media screen and (max-width: $phone-size) {
                font-size: 50px;
                }
            }
}

#article-carousel {
	ul {
		min-height: 80vh;
		@media screen and (max-width: $tablet-size) {
			min-height: 50vh;
		}
		@media screen and (max-width: $phone-size) {
			min-height: 35vh;
		}
	}

	.prev {
		color: black;
		z-index: 1000;
		font-size: 20px;
		@media screen and (max-width: $phone-size) {
			font-size: 10px;
		}

	}
	.next {
		font-size: 20px;
		@media screen and (max-width: $phone-size) {
			font-size: 10px;
		}
	}
}

.carousel ul {
	overflow: auto;
	display: flex;
	flex-wrap: nowrap;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	background: gray;
	-ms-overflow-style: none;
	scrollbar-width: none;
	margin: 0;
	padding: 0;
}

.carousel ul::-webkit-scrollbar {
	display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.carousel ul li {
	position: relative;
	min-width: 100%;
	list-style: none;
	scroll-snap-align: start;
}

.carousel ul li > * {
	position: absolute;
	left: 0;
	top: 0;
	//width: 100%;
	height: 100%;
}

.carousel ul li > img {
	object-fit: cover;
}

.carousel ul li > div {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.carousel ol {
	position: absolute;
	bottom: 15px;
	display: flex;
	justify-content: center;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9;
}

.carousel ol li {
	list-style: none;
	padding: 0 5px;
}

.carousel ol li a {
	display: block;
	height: 10px;
	width: 10px;
	border: 2px solid white;
	background: transparent;
	border-radius: 100%;
	font-size: 0;
}

.carousel ol li.selected a {
	background: white;
}

.carousel .prev, .carousel .next {
	display: none;
	user-select: none;
	cursor: pointer;
	font-size: 50px;
	color: white;
	position: absolute;
	left: 0;
	padding: 15px 15px 30px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 9;
	line-height: 0;
}

.carousel .next {
	left: auto;
	right: 0;
}
