$blue1: #01526d;
$blue2: #3f787f;
$blue3: #2a7ea6;
$red1: #c35151;
$yellow1: #947036;
$yellow2: #c39e64;
$grey1: #767676;
$grey2: #707070;
$grey3: #c6c6c6;
$green1: #3c845c;

.all {
	color: black;
}

.conviction {
	color: $grey1;
}

.altruisme {
	color: $yellow1;
}

.humanite {
	color: $blue3;
}

.partage {
	color: $green1;
}

.transparence {
	color: $red1;
}
