@import "variables";
@import "color";

.centered-content {
	max-width: 1600px;
	//margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.three-cols-layout {
    display: grid;
    width: 100%;
    @media screen and (min-width: $phone-size) {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 0;
        grid-auto-rows: 1fr;
    }
    .col{
        &--margined {
            margin-right: 2rem;
            margin-left: 2rem;

            @media screen and (min-width: 769px) {
                margin-right: 5%;
                margin-left: 5%;
            }

        }
    }
}

#equipe {
    .three-cols-layout {
        display: grid;
        width: 100%;
        @media screen and (min-width: $phone-size) {
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: 0;
            grid-auto-rows: 1fr;
        }
        .col{
            &--margined {
                margin-right: 2rem;
                margin-left: 2rem;

                @media screen and (min-width: 769px) {
                    margin-right: 5%;
                    margin-left: 5%;
                }
            }
        }
    }
}

#resultats{
    .three-cols-layout {

        @media screen and (min-width: $phone-size) {
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: 0;
            grid-auto-rows: 1fr;
        }

        .col {
            color: black;

            &.green {
                background-color: $green1;
            }

            &.red {
                background-color: $red1;
            }

            &.yellow {
                background-color: $yellow1;
            }
        }
    }
}

#actualites {
	.three-cols-layout{
		@media screen and (min-width: 1300px) {
			grid-template-columns: repeat(3, 1fr);
			grid-row-gap: 0;
			grid-auto-rows: 1fr;
		}
	}
}

