/*
IMPORTANT: you can import high level files as many times as you want but DO NOT put styling rules into them.

> If the same stylesheet is imported more than once, it will be evaluated again each time. If it just defines functions
> and mixins, this usually isn’t a big deal, but if it contains style rules they’ll be compiled to CSS more than once.

Ex: You can import "variables" or "fonts" files in each partial files. But you must not import partial/nav more than
once into the whole project.

It is recommended to always put the "variables" import first - before every else file - in case you need it.
*/
@import "variables";

/* common styles */
@import "reset";
@import "a11y";
@import "fonts";
@import "grid";

/* UI components */
@import "carousel";
@import "table";
@import "video";

@import "404";

/* order is important here for readability and maintainability (not for the code processing) */
/*  -- common styles */
@import "partials/header";
@import "partials/footer";
/* -- styles by page type */
@import "_default/new";
@import "posts/list";
@import "posts/single";
@import "values/list";
@import "values/single";
@import "posts/search.scss";
@import "team/single.scss";
@import "taxonomy/list.scss";
@import "offers/list";

html {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;

	&.with-sidenav {

		@media screen and (min-width: 1150px) {
			padding-right: $navbar-width;
		}
	}
}

section {
	margin: 0;
}

/* Top Bar */



