/* Inspired from https://hugocodex.org/add-ons/slider-carousel/ */

@import "variables";

.table-alternate {
    th, td {
        padding: 0.5rem;
    }
    tr:nth-child(odd) td{
        background-color:$grey3;
    }
    tr:nth-child(even) td{
        background-color:#fff;
    }
}
.table-with-blue-header {
    th {
        color: #fff;
        background-color:$blue1;
        text-align: center;
    }
}

.table-center {
    margin-left: auto;
    margin-right: auto;
}
