$layout-width: 1120px;
$navbar-width: 182px;
$top-bar-height: 72px;
$value-height: 120px;
$layout-column-width: 386px;
$layout-column-padding-left: 20px;
$layout-column-padding-right: 20px;
$column-min-size: 131px;
$phone-size: 769px;
$tablet-size: 1149px;
$small-pc-size: 1535px;
