@import "variables";
@import "color";
@import "grid";

.video {

	.horizontal-banner {
		min-height: $top-bar-height;
		background-color: $blue1;

		@media screen and (min-width: 769px) {
			background-color: white;
		}

		.vertical-banner {
			display: block;
			content: "";
			background-color: black;
			height: $top-bar-height;
		}
	}

	.videotalks {

		.black-hidden {
			@media screen and (max-width: $phone-size) {
				display: none;
			}
		}

		.videotalk {
			position: relative;
			
			height: 216px;
			text-align: center;

			@media screen and (min-width: 769px) {
				text-align: justify;
			}

			&__thumbnail {
				transition: all 1s ease;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				max-width: 309px;
				


				&:after {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					max-width: 309px;
					content: '';
					visibility: hidden;
					background-color: black;
					opacity: 0;
					transition: visibility 0.3s, opacity .5s ease-in-out;
				}
			}

			&__presentation {
				display: none;
				position: absolute;
				top: -10px;
				left: 0;
				width: 100%;
				max-width: 309px;
				height: 100%;
				backdrop-filter: blur(4px);
				padding: 1px 16px;
				color: white;

				a {
					text-decoration: none;
					color: white;
				}
			}

			&__name {
				font-weight: 700;
				font-size: 1.2rem;
				line-height: 1.2rem;
				text-align: center;
				margin-bottom: 12px;
				@media screen and (max-width: $phone-size) {
					font-size: 1.15rem;
				}
			}

			&__description {
				line-height: 1rem;
				font-size: 0.9rem;
				text-align: left;

				@media screen and (min-width: $small-pc-size) {
					font-size: 1rem;
				}

				@media screen and (max-width: $tablet-size) {
					font-size: 0.8rem;
					line-height: 0.8rem;
				}

				@media screen and (max-width: $phone-size) {
					font-size: 0.7rem;
					line-height: 0.7rem;
				}
			}

			&:hover,
			&:focus {

				.videotalk__thumbnail:after {
					visibility: visible;
					opacity: 0.65;
				}

				.videotalk__presentation {
					display: block;
				}
			}

			&__contact {
				margin: 15px auto;
				text-decoration: none;
				color: white;
				border: 3px solid white;
				border-radius: 90px;
				font-size: 1rem;
				width: 140px;
				height: 45px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;

				&:hover,
				&:focus {
					color: $blue3;
					font-weight: 600;
					background-color: white;
				}
			}
		}

		a {
			text-decoration: none;
			font-size: 0;
		
			.disclaimer {
				display: flex;
				flex-direction: column;
				background-color: black;
				height: $layout-column-width;
				padding: 24px 32px;
				font-size: 1rem;
				text-align: center;
				margin-right: 2rem;
				margin-left: 2rem;
		
				@media screen and (min-width: $phone-size) {
					text-align: left;
					padding-top: 84px;
					margin-right: 5%; //70%
					margin-left: 5%;
		
				}
		
				@media screen and (max-width: $tablet-size) and (min-width: $phone-size) {
					padding-top: 50px;
					font-size: 0.9rem;
				}
		
				h3 {
					font-weight: 700;
					font-size: 1.125rem;
				}
		
		
				&__video {
					color: $blue3;
					margin-bottom: 27px;
				}
		
				&__community {
					color: white;
				}
			}
		}
	}
}
