{{ define "opengraphheader" }}
{{ partial "opengraph.html" . }}
{{ partial "twitter_cards.html" . }}
{{ end }}

{{ define "main" }}
<main>
    <script>
        let tagArray = new Array();
        {{- range .Site.Taxonomies.tags }}
        tagArray.push([{{ .Page.Title }}, {{ .Count }}, {{ .Page.Permalink }}]);
        {{- end }}
    </script>
  <div class="post-list">

      <div class="post-list__header">
          <div id="tag-wrapper" class="tag-cloud" style="width: 100%; height: 70vh;"></div>
          <script src="/js/wordcloud2.js"></script>
          <script>
              function randomColor() {
                  let colors = ['#3f787f', '#fff', '#2a7ea6', '#c35151', '#947036', '#767676', '#3c845c'];
                  return colors[Math.floor(Math.random() * colors.length)];
              }
              WordCloud(document.querySelector("#tag-wrapper"), {
                  list: tagArray,
                  classes: "tag-cloud-item",
                  minSize: "6px",
                  weightFactor: 40,
                  rotationSteps: 2,
                  drawOutOfBound: false,
                  shrinkToFit: true,
                  color: randomColor,
                  fontWeight: 700,
                  backgroundColor: '#000',
                  hover: function(item) { console.log(item[0] + ": " + item[1])} ,
                  click: function(item) { location.href = item[2] } ,
              });
          </script> 
      </div>

    <div class="post-list__body">
      <div class="centered-content">

        {{ partial "list_categories" . }}

        <div class="post-list__summaries">
          <div class="three-cols-layout">
            {{ $idx := 0 }}
            {{ $citations := slice }}
            {{ range .Site.Data.citations.citation | shuffle }}
              {{ $citations = $citations | append .}}
            {{ end }}
            {{ $pages := .Pages }}
            {{ if eq .Kind "taxonomy" }}
                {{ $pages = ( where .Site.RegularPages "Type" "posts" ).ByDate.Reverse }}
            {{ end }}
            {{ range $index, $_ := (.Paginate $pages).Pages }}
                {{ if (and (modBool $index 5) (not (eq $index 0)) ) }}
              <div class="col col--margined citation">
                    {{ with (index $citations $idx) }}
                <h2 class="citation__text">{{ .Text }}</h2>
                <h3 class="citation__author">{{ .Author }}</h3>
                    {{ end }}
              </div>
                    {{ $idx = add $idx 1}}
                {{ end }}
            <div class="col col--margined">
                {{ .Render "summary" }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>

    <div class="post-list__footer">
      {{ partial "pagination.html" . }}
    </div>

  </div>
</main>
{{ end }}
