{{ define "opengraphheader" }}
{{ partial "opengraph.html" . }}
{{ partial "twitter_cards.html" . }}
{{ end }}

{{ define "main" }}
<main>
  <div class="single-post">
    <div class="single-post__header">
              <picture>


                  <img  src="{{  .Site.BaseURL }}/images/video-for-leaders.png"  
                  alt="image de la vidéothèque d'aqoba">
              </picture>
    </div>

    <div class="single-post__body">
      <div class="single-post__article">
        <div class="centered-content">
                        <div  class="post" >
                        
                        
         <div class="post__socials">
           {{ partial "posts/socialshare" . }}
         </div>

         <div class="post__tags">
         {{ $value := slice "partage" }}
         {{ $tags := slice "leadership" "motivation" "Sciences comportementales" "Flux" "Video"}}
         
         {{ range sort $value }}
             {{ with $.Site.GetPage (path.Join "values" .) }}
             {{ $value = . }}
             <a class="post__value {{ .Params.identifier }}" href="{{ .Permalink }}">#{{ .Title }}</a>
             {{ end }}
         {{ end }}
         {{ range $tags  }}
             <a class="post__tag" href="/tags/{{ . | urlize }}/">#{{ . | humanize}}</a>
         {{ end }}
         </div>                       
                        <h1 class="post__title">La vidéothèque d'aqoba</h1>
                              
                       <div class="post__summary">
                                {{ "Notre aqobox office" | markdownify }}
                       </div>

                        <div class="post__content">
                        {{ "Cette collection de vidéos soigneusement sélectionnées vise à partager des moments inspirants, des conseils judicieux et des histoires motivantes qui peuvent guider et encourager les leaders de demain. Plongez dans cette source d'inspiration pour nourrir votre esprit, développer vos compétences de leadership et inspirer votre équipe vers de nouveaux sommets. Nous sommes convaincus que le leadership exceptionnel commence par l'inspiration. Bon visionnage !" | markdownify }}

                        
                         {{ "## Récemment ajouté(s)" | markdownify }}                        
                         <section id="videos-new" class="video" ordinal="new">
                           {{ .Scratch.Set "ordinal" "new" }}
                           {{ partial "video.html" (dict "context" . "ordinal" "new") }}
                         </section>

                         {{ "## Leadership" | markdownify }}                        
                         <section id="videos-leadership" class="video" ordinal="new">
                           {{ .Scratch.Set "ordinal" "new" }}
                           {{ partial "video.html" (dict "context" . "ordinal" "leadership") }}
                         </section>

                         {{ "## Impact / Motivation" | markdownify }}                        
                         <section id="videos-motivation" class="video" ordinal="new">
                           {{ .Scratch.Set "ordinal" "new" }}
                           {{ partial "video.html" (dict "context" . "ordinal" "motivation") }}
                         </section>
                         
                         {{ "## Flux" | markdownify }}                        
                         <section id="videos-flux" class="video" ordinal="new">
                           {{ .Scratch.Set "ordinal" "new" }}
                           {{ partial "video.html" (dict "context" . "ordinal" "flux") }}
                         </section>
                         
                         {{ "## Sciences comportementales" | markdownify }}                        
                         <section id="videos-comportemenent" class="video" ordinal="comportement">
                           {{ .Scratch.Set "ordinal" "comportemenent" }}
                           {{ partial "video.html" (dict "context" . "ordinal" "comportement") }}
                         </section>

                         {{ "## Talks aqoba" | markdownify }}                        
                         <section id="videos-talks" class="video" ordinal="comportement">
                           {{ .Scratch.Set "ordinal" "comportemenent" }}
                           {{ partial "video.html" (dict "context" . "ordinal" "talks") }}
                         </section>

                        </div>
                        </div>

        </div>
      </div>
      <div class="single-post__navbar">
       
       
       
       <nav class="navbar">

         <div class="categories">
           {{ with .Site.GetPage "/posts" }}
           <a class="categories__link all" href="{{ .Permalink }}">Tous</a>
           {{ end }}
           {{ range (where .Site.RegularPages "Section" "values").ByParam "order" }}
           <a class="categories__link {{.Params.identifier}}" href="{{.Permalink}}">{{.Title}}</a>
           {{end}}
         </div>

         <div class="related">
           <h2>Vous aimerez probablement aussi : </h2>
           
           {{ with .Site.GetPage "/posts" }}
           {{ range .Pages }}
           <article class="post-link">
             <a href="{{ .RelPermalink }}">
               {{ with .Resources.GetMatch .Params.thumbnail }}
                   {{ with .Fill "360x240 webp" }}
               <img class="post-link__thumbnail" src="{{ .RelPermalink }}" alt="">
                   {{end}}
               {{end}}
               <div class="post-link__body">
                   {{ range .Params.values }}
                       {{ with $.Site.GetPage (path.Join "values" .) }}
                       <span class="post-link__value">#{{ .Title }}</span>
                       {{end}}
                   {{end}}
                 <span class="post-link__title">{{ .Title }}</span>
               </div>
             </a>
           </article>
           {{ end }}
           {{ end }}
         </div>
       </nav>
       
       

      </div>
    </div>

    <div class="single-post__footer">
    </div>
  </div>

</main>
{{ end }}

