
{{ define "opengraphheader" }}
                <meta name="image" property="og:image" content="{{  .Site.BaseURL }}/images/video-for-leaders.png" />
                <meta property="og:image:type" content="image/jpeg" />
                <meta property="og:image:width" content="1200" />
                <meta property="og:image:height" content="1200" />
                <meta property="article:section" content="posts" />
                <meta property="article:published_time" content="2024-02-05T12:31:06+00:00" />
                <meta property="article:modified_time" content="2024-02-05T12:31:06+00:00" />
{{ partial "opengraph.html" . }}
{{ partial "twitter_cards.html" . }}
{{ end }}

{{ define "main" }}
<main>
  <div class="single-post">
    <div class="single-post__header">



              <picture>


                  <img  src="{{  .Site.BaseURL }}/images/video-for-leaders.png"  
                  alt="image de la vidéothèque d'aqoba">
              </picture>
    </div>

    <div class="single-post__body">
      <div class="single-post__article">
        <div class="centered-content">
                        <div  class="post" >
                        
                        
         <div class="post__socials">
           {{ partial "posts/socialshare" . }}
         </div>
         
         
         


         <div class="post__tags">
         {{ $value := . }}
         {{ $tags := slice "video"  }}
         
         {{ range sort $tags }}
             {{ with $.Site.GetPage (path.Join "values" .) }}
             {{ $value = . }}
             <a class="post__value {{ .Params.identifier }}" href="{{ .Permalink }}">#{{ .Title }}</a>
             {{ end }}
         {{ end }}
         {{ range $tags  }}
             <a class="post__tag" href="/tags/{{ . | urlize }}/">#{{ . | humanize}}</a>
         {{ end }}
         </div>                       
                        <h1 class="post__title">La vidéothèque d'aqoba</h1>
                              
                       <div class="post__summary">
                                {{ .Title | markdownify }}
                       </div>
<div class="post__content">
{{ .Content }}

<section id="videos-unique" class="video">
<div id="video" class="video">
<div class="videotalks">
<div class="centered-content">

<div id="videos-carousel" data-duration="5000" class="carousel" style="background: white; height: 216px" >
<ul>
<li id="videotalk_slide" class="three-cols-layout" style="min-width: calc(100%);">



                        <div class="post__content">

                        <div class="videotalk">
                        
                        <div class="videotalk__thumbnail">
                        <div style="position: absolute; overflow: hidden;margin-left: -75px">
                        <video style="overflow: hidden; display: block;" autoplay="" loop="" name="media">
                        <source src="{{ .Params.thumbnail }}"  type="video/mp4">
                        </div>
                        </div>
                        <div class="videotalk__thumbnail"  style="background: black; height: 216px" >
                          <img src="{{ .Params.thumbnail  }}" alt="{{ .Params.title }}" style="object-fit: cover" >
                        </div>
                        <div class="videotalk__presentation">
                        <h3 class="videotalk__name">{{ .Title }}</h3>
                        <div class="videotalk__description">{{ .Content }}</div>
                        <a class="videotalk__contact" tabindex="0" target="_blank" href="{{ .Params.lien }}">Visionner</a>
                        </div>
                        </div>
                        </div>
                        </div>

</li>
</ul>
        </div>
        </div>
                </div>
                </div>
                </div>
      </div>
      </section>
      </div>
           <div class="single-post__navbar">
       
       
       
       <nav class="navbar">

         <div class="categories">
           {{ with .Site.GetPage "/posts" }}
           <a class="categories__link all" href="{{ .Permalink }}">Tous</a>
           {{ end }}
           {{ range (where .Site.RegularPages "Section" "values").ByParam "order" }}
           <a class="categories__link {{.Params.identifier}}" href="{{.Permalink}}">{{.Title}}</a>
           {{end}}
         </div>

         <div class="related">
           <h2>Vous aimerez probablement aussi : </h2>
           
           {{ with .Site.GetPage "/posts" }}
           {{ range .Pages }}
           <article class="post-link">
             <a href="{{ .RelPermalink }}">
               {{ with .Resources.GetMatch .Params.thumbnail }}
                   {{ with .Fill "360x240 webp" }}
               <img class="post-link__thumbnail" src="{{ .RelPermalink }}" alt="">
                   {{end}}
               {{end}}
               <div class="post-link__body">
                   {{ range .Params.values }}
                       {{ with $.Site.GetPage (path.Join "values" .) }}
                       <span class="post-link__value">#{{ .Title }}</span>
                       {{end}}
                   {{end}}
                 <span class="post-link__title">{{ .Title }}</span>
               </div>
             </a>
           </article>
           {{ end }}
           {{ end }}
         </div>
       </nav>
       
       

      </div>
    </div>

    <div class="single-post__footer">
    </div>
  </div>

</main>
{{ end }}

