<article class="post" id="top-post">
  <div class="post__socials">
    {{ partial "posts/socialshare" . }}
  </div>

  <h1 class="post__title ">{{ .Title }}</h1>
  {{ with .Params.Subtitle }}
  <div class="post__summary">
    {{ . | markdownify }}
  </div>
  {{ end }}
  <div class="post__content">
    {{ .Content | markdownify }}
  </div>
</article>
