<nav class="navbar">

  <div class="categories">
    {{ with .Site.GetPage "/offers" }}
    <a class="categories__link all" href="{{ .Permalink }}">Toutes nos offres</a>
    {{ end }}
    {{ range where .Site.RegularPages "Section" "offers" }}
    <a class="categories__link {{.Params.codename}}-color" href="{{.Permalink}}">{{.Title}}</a>
    {{end}}
  </div>

  <div class="related">
    <h2>Nos publications associées : </h2>
    {{ range first 15 (where (where .Site.RegularPages "Section" "posts") "Params.offers" "intersect" (slice .File.BaseFileName)).ByPublishDate.Reverse }}
    <article class="post-link">
      <a href="{{ .RelPermalink }}">
        {{ with .Resources.GetMatch .Params.thumbnail }}
            {{ with .Fill "360x240 webp" }}
        <img class="post-link__thumbnail" src="{{ .RelPermalink }}" alt="">
            {{end}}
        {{end}}
        <div class="post-link__body">
            {{ range .Params.values }}
                {{ with $.Site.GetPage (path.Join "values" .) }}
                <span class="post-link__value">#{{ .Title }}</span>
                {{end}}
            {{end}}
          <span class="post-link__title">{{ .Title }}</span>
        </div>
      </a>
    </article>
    {{ end }}
  </div>
</nav>
