<h{{.Level}} id="{{ .Anchor}}">{{ .Text | safeHTML }}<a href="#top-post" class="single-post__article__arrow-up" aria-label="link to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></span></a></h{{.Level}}>
