{{ define "opengraphheader" }}
{{ partial "opengraph.html" . }}
{{ partial "twitter_cards.html" . }}
{{ end }}

{{ define "main" }}
<main>
  <script>
    var bg = [];
  </script>
  <section id="valeurs" class="values-list">
    <div class="centered-content">
        <div class="three-cols-layout">
            <div class="col col--margined">
                {{ $uploads := .Site.GetPage "Section" "uploads" }}
                {{ range (where site.RegularPages "Section" "values").ByParam "order" }}
                    {{ $thumbnail := $uploads.Resources.GetMatch (path.Base .Params.thumbnail) }}
                    {{ $background := $thumbnail.Resize "1800x webp photo" }}
                <a href="/values/{{ .Params.identifier }}" class="value-list" data-identifier="{{ .Params.identifier }}" role="button" tabindex="0">
                <div class="value-list" data-identifier="{{ .Params.identifier }}" role="button" tabindex="0">
                    <h3 class="value-list__title {{ .Params.identifier }}">{{ .Title }}</h3>
                    <div class="value-list__summary">{{ .Summary }}</div>
                </div>
                </a>
                <script type="text/javascript">
                    bg["{{ .Params.identifier | safeJS }}"] = "{{ $background.RelPermalink | safeURL | safeJS}}";
                </script>
                {{ end }}
            </div>
        </div>
    </div>
</section>

</main>
{{ end }}
