{{ define "opengraphheader" }}
{{ partial "opengraph.html" . }}
{{ partial "twitter_cards.html" . }}
{{ end }}

{{ define "main" }}
<main>
  <article>
    <div class="post-list__header">
      <div class="centered-content">
        <div class="three-cols-layout">
          <div class="col col--margined">
            <div class="category">
              <h3 class="category__title">{{ .Title }}</h3>
              <div class="category__summary">{{ .Content }}</div>
            </div>
            {{ $uploads := .Site.GetPage "Section" "uploads" }}
            {{ with $uploads.Resources.GetMatch (path.Base .Params.illustration) }}
            {{ $image := .Resize "x800" }}
          </div>
        </div>
      </div>
      <div class="centered-content">
          <img class="value__illustration" src="{{ $image.RelPermalink }}" alt="image de la catégorie {{ $.Title }}">
      </div>
            {{ end }}
    </div>
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->

    <div class="post-list__body">
      <div class="centered-content">

        {{ partial "list_categories.html" . }}

        <div class="post-list__summaries">
          <div class="three-cols-layout">
            {{ $currentcategory := slice .Params.identifier }}
            {{ $idx := 0 }}
            {{ $citations := slice }}
            {{ range .Site.Data.citations.citation | shuffle }}
              {{ $citations = $citations | append .}}
            {{ end }}
            {{ range $index, $articles := (where (where .Site.RegularPages "Section" "posts") "Params.values"
            "intersect" $currentcategory) }}
            {{ if (and (modBool $index 5) (not (eq $index 0)) ) }}
            <div class="col col--margined citation">
              {{ with (index $citations $idx) }}
              <h2 class="citation__text">{{ .Text }}</h2>
              <h3 class="citation__author">{{ .Author }}</h3>
              {{ end }}
            </div>
            {{ $idx = add $idx 1}}
            {{ end }}
            <div class="col col--margined">
              {{ $articles.Render "summary" }}
            </div>
            {{ end }}
          </div>
        </div>

      </div>
  </article>

</main>
{{ end }}
