<article class="post" id="top-post">
  <div class="post__socials">
    {{ partial "posts/socialshare" . }}
  </div>

  <div class="post__tags">
  {{ $value := . }}
  {{ range sort .Params.values }}
      {{ with $.Site.GetPage (path.Join "values" .) }}
      {{ $value = . }}
      <a class="post__value {{ .Params.identifier }}" href="{{ .Permalink }}">#{{ .Title }}</a>
      {{ end }}
  {{ end }}
  {{ range .Params.tags }}
      <a class="post__tag" href="/tags/{{ . | urlize }}/">#{{ . | humanize}}</a>
  {{ end }}
  </div>

  {{ $authors := slice }}
  {{ range sort .Params.authors }}
  {{ with $.Site.GetPage "team" . }}
  {{ $authors = $authors | append (printf "<a href='%s'>%s</a>" .RelPermalink .Title) }}
  {{ end }}
  {{ end }}
  <div class="post__authors">Écrit par {{ delimit $authors ", " " et " | htmlUnescape | safeHTML}}</div>

  <div class="post__timedate"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ .ReadingTime }} min | Publié le {{ .Params.Date.Format "02/01/2006" }}</div>

  <h1 class="post__title {{ $value.Params.identifier }}">{{ .Title }}</h1>
  {{ with .Params.Subtitle }}
  <div class="post__summary">
    {{ . | markdownify }}
  </div>
  {{ end }}
  <div class="post__content">
    {{ .Content | markdownify }}
  </div>
</article>
