<header class="header">
  <div class="top-bar top-bar--posts">
    <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}/images/logo-aqoba-black.svg" alt="logo aqoba" class="logo"></a>
  </div>

  <div id="sidenav">
    <ul></ul>
    {{ with .Site.Params.social }}
        <ul class="social">
            {{ range . }}
                <li><a rel="me" aria-label="bouton partage {{ .icon }}" href="{{ .url }}"><i class="fa fa-{{ .icon }}" aria-hidden="true"></i></a></li>
            {{ end }}
        </ul>
        {{ end }}
  </div>

</header>
