<nav class="navbar">

  <div class="categories">
    {{ with .Site.GetPage "/posts" }}
    <a class="categories__link all" href="{{ .Permalink }}">Tous</a>
    {{ end }}
    {{ range (where .Site.RegularPages "Section" "values").ByParam "order" }}
    <a class="categories__link {{.Params.identifier}}" href="{{.Permalink}}">{{.Title}}</a>
    {{end}}
  </div>

  <div class="related">
    <h2>Vous aimerez probablement aussi : </h2>
    {{ range first 15 (.Site.RegularPages.Related .) }}
    <article class="post-link">
      <a href="{{ .RelPermalink }}">
        {{ with .Resources.GetMatch .Params.thumbnail }}
            {{ with .Fill "360x240 webp" }}
        <img class="post-link__thumbnail" src="{{ .RelPermalink }}" alt="">
            {{end}}
        {{end}}
        <div class="post-link__body">
            {{ range .Params.values }}
                {{ with $.Site.GetPage (path.Join "values" .) }}
                <span class="post-link__value">#{{ .Title }}</span>
                {{end}}
            {{end}}
          <span class="post-link__title">{{ .Title }}</span>
        </div>
      </a>
    </article>
    {{ end }}
  </div>
</nav>
