<!-- Social Share Button HTML -->
{{ $title := .Title                                                                                 }}
{{ $url := printf "%s?utm_source=ShareBtn" .Permalink                                               }}
{{ $authors_name := slice                                                                           }}
{{ $authors_twitter := slice                                                                        }}
{{ range .Params.authors                                                                            }}
{{   with $.Site.GetPage "team" .                                                                   }}
{{     $authors_name = $authors_name | append .Title                                                }}
{{     if .Params.twitter                                                                           }}
{{       $authors_twitter = $authors_twitter | append (print "@" .Params.twitter)                   }}
{{     else                                                                                         }}
{{       $authors_twitter = $authors_twitter | append .Title                                        }}
{{     end                                                                                          }}
{{   end                                                                                            }}
{{ end                                                                                              }}
{{ $simpleBody := print "\"" $title "\", un article de " (delimit $authors_name " et ") " à lire sur le site d'" .Site.Title }}
{{ $twitterBody := print $title ", un article de " (delimit $authors_twitter ", ") " à lire sur le site d'@aqoba_fr"         }}
{{ $body := print $simpleBody "\n" $url "\n\n"                                                        }}
{{ $tags :=  union .Params.Tags .Params.Values                                                      }}
{{ $string_tags := delimit (apply $tags "printf" "#%s" ".") " "                                     }}

<ul class="share-icons">
    <li>
        <a aria-label="bouton partage mastodon" href="https://toot.kytta.dev/?text={{ $body }}%20{{ $string_tags }}&instance=https%3A%2F%2Fpouet.chapril.org" target="_blank" class="share-btn share-mastodon">
            <i class="fa fa-mastodon"></i><span class="social-label">Mastodon</span>
        </a>
    </li>
    <li>
        <a aria-label="bouton partage twitter" href="https://twitter.com/intent/tweet?hashtags={{ delimit $tags "," }}&amp;url={{ $url }}%26utm_medium=Twitter&amp;text={{ $twitterBody }}" target="_blank" rel="noopener" aria-label="Share on Twitter" class="share-btn share-twitter">
            <i class="fa fa-twitter"></i><span class="social-label">Twitter</span>
        </a>
    </li>
    <li>
        <a aria-label="bouton partage linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ $url }}%26utm_medium=Linkedin&amp;source={{ .Site.BaseURL }}&amp;title={{ $title }}&amp;summary={{ $body }} {{ $string_tags }}" target="_blank" rel="noopener" aria-label="Share on LinkedIn" class="share-btn share-linkedin">
            <i class="fa fa-linkedin"></i><span class="social-label">Linkedin</span>
        </a>
    </li>
    <li>
        <a aria-label="bouton partage facebook" href="https://www.facebook.com/sharer.php?u={{ $url }}%26utm_medium=Facebook" target="_blank" rel="noopener" aria-label="Share on Facebook" class="share-btn share-facebook">
            <i class="fa fa-facebook"></i><span class="social-label">Facebook</span>
        </a>
    </li>
    <li>
        <a aria-label="bouton partage whatsapp" href="whatsapp://send?text={{ $body }} {{ $string_tags }}" target="_blank" class="share-btn share-whatsapp">
            <i class="fa fa-whatsapp"></i><span class="social-label">Whatsapp</span>
        </a>
    </li>
    <li>
        <a aria-label="bouton partage email" href="mailto:?subject={{ .Site.Title }} - {{ $title }}.&amp;body={{ $body }} {{ $string_tags }}" target="_blank" class="share-btn share-email">
            <i class="fa fa-envelope"></i><span class="social-label">Email</span>
        </a>
    </li>
</ul>
