{{ $class := .class }}
<div class="videotalk col col--margined {{ $class }}" style="overflow: hidden; display: block;">
<div class="videotalk__thumbnail">
<div style="position: absolute; overflow: hidden;margin-left: -75px">
<video style="overflow: hidden; display: block;" autoplay="" loop="" name="media">
<source src="{{ .context.Params.thumbnail }}"  type="video/mp4">
</div>
</div>
<div class="videotalk__thumbnail"  style="background: black; height: 216px" >
  <img src="{{ .context.Params.thumbnail  }}" alt="{{ .context.Params.title }}" style="object-fit: cover" >
</div>
<div class="videotalk__presentation">
<h3 class="videotalk__name">{{ .context.Title }}</h3>
<div class="videotalk__description">{{ .context.Content }}</div>
<a class="videotalk__contact" tabindex="0" target="_blank" href="{{ .context.Params.lien }}">Visionner</a>
</div>
</div>
