{{ define "opengraphheader" }}
{{ partial "opengraph.html" . }}
{{ partial "twitter_cards.html" . }}
{{ end }}

{{ define "main" }}
<main>
  <article>
    <div class="author-list__header">

      <div class="author">
        <div class="author__banner">
            <img src="{{ site.BaseURL }}images/favicon-black.svg" alt="logo aqoba">
            <div class="author__name">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
        {{ $uploads := .Site.GetPage "Section" "uploads" }}
        {{ with $uploads.Resources.GetMatch (path.Base .Params.thumbnail) }}
            {{ $photo := .Fill "480x480" | images.Filter images.Grayscale }}
            {{ $photoX2 := .Fill "960x960" | images.Filter images.Grayscale }}
        <div class="centered-content">
          <div class="three-cols-layout">
            <div class="author__photo col col--margined move-up">
              <img src="{{ $photo.RelPermalink }}" alt="photo de {{ $.Title }}" srcset="{{ $photo.RelPermalink }} 460w, {{ $photoX2.RelPermalink}} 960w">
              {{ end }}

              <div class="author__social">
                <a aria-label="bouton envoyer un email à {{ .Title }}" href="mailto:{{ .Params.email }}">
                  <i class="fa fa-envelope"></i><span class="social-label"></span>
                </a>

                {{ if isset .Params "linkedin"}}
                <a aria-label="bouton profil linkedin de {{ .Title }}" href="{{ .Params.linkedin }}">
                  <i class="fa fa-linkedin"></i><span class="social-label"></span>
                </a>
                {{ end }}

                {{ if isset .Params "twitter"}}
                <a aria-label="bouton profil twitter de {{ .Title }}" href="https://twitter.com/{{ .Params.twitter }}">
                  <i class="fa fa-twitter"></i><span class="social-label"></span>
                </a>
                {{ end }}

                {{ if isset .Params "mastodon"}}
                <a aria-label="bouton profil mastodon de {{ .Title }}" href="{{ .Params.mastodon }}" rel="me">
                  <i class="fa fa-mastodon"></i><span class="social-label"></span>
                </a>
                {{ end }}
                {{ if isset .Params "co2"}}
                <a aria-label="Nos gestes climats de {{ .Title }}" href="https://nosgestesclimat.fr" class="eqco2">
                    <img src="{{ site.BaseURL }}images/eqCO2.svg" class="icon-eqco2" alt="icon eqCO2"/>&nbsp;<strong>{{ .Params.co2 }}</strong>&nbsp;T
                </a>
                {{ end }}
              </div>
            </div>
            <div class="author__content">
              <div class="author__subtitle">{{ .Params.subtitle }}</div>
              <div class="author__description">{{ .Content }}</div>
            </div>
            <div></div>
          </div>
        </div>
      </div>


    </div>


    <div class="author-list__posts">
      <div class="centered-content">

        <h2 class="author-list__published">Publications</h2>

        <div class="post-list__summaries">
          <div class="three-cols-layout">
            {{ $currentauthor := slice .File.BaseFileName }}
            {{ if eq 0 (len (where (where .Site.RegularPages "Section" "posts") "Params.authors" "intersect" $currentauthor)) }}
            <div class="col col--margined nothing">
              {{ .Title }} n'a publié aucun article pour le moment.
            </div>
            {{ else }}
            {{ range $index, $articles := (where (where .Site.RegularPages "Section" "posts") "Params.authors" "intersect" $currentauthor) }}
            <div class="col col--margined">
              {{ $articles.Render "summary" }}
            </div>
            {{ end }}
            {{ end }}
          </div>
        </div>

      </div>
  </article>

</main>
{{ end }}
