<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
    {{ partial "head" . }} 
    {{ block "opengraphheader" . }}{{ end }}
</head>
<body class="with-sidenav">
{{ partial "posts/header" . }}
{{ block "main" . }}{{ end }}
{{ partial "footer" . }}

<script defer type="text/javascript" src="/js/main.js"></script>
<script defer type="text/javascript" src="/js/carousel.js"></script>
<script defer data-domain="aqoba.fr" src="https://stats.aqoba.fr/js/plausible.js"></script>
</body>
</html>
