{{ define "opengraphheader" }}
{{ partial "opengraph.html" . }}
{{ partial "twitter_cards.html" . }}
{{ end }}

{{ define "main" }}
<main>
  <div class="post-list">

    <div class="post-list__header">
        <div id="article-carousel" data-duration="5000" class="carousel">
          <ul>
            {{ $num := 1 }}
              {{ $index := 0 }}
              {{ $uploads := .Site.GetPage "Section" "uploads" }}
              {{ range ( first 3 ( where .Site.RegularPages "Type" "posts" ).ByDate.Reverse ) }}
              <li id="article_slide{{ $num }}">
                <div class="post-carousel">
                <div class="post-carousel__body">
                  <div class="post-carousel__values">
                  {{ $value := . }}
                  {{ range sort .Params.Values }}
                      {{ with $.Site.GetPage (path.Join "values" .) }}
                      {{ $value = . }}
                      <p class="post-carousel__value {{ .Params.identifier }}">#{{ .Title }}</p>
                      {{ end }}
                  {{ end }}
                  </div>
                  <h3 class="post-carousel__title"><a class=" {{ $value.Params.identifier }}" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                  <div class="post-carousel__authors">
                    {{ $authors := slice }}
                    {{ range sort .Params.authors }}
                    {{ with $.Site.GetPage "team" . }}
                    {{ $authors = $authors | append .Title }}
                    {{ end }}
                    {{ end }}
                    <span class="post-carousel__author">Écrit par {{ delimit $authors ", " " et " }}</span>
                  </div>
                  <div class="post-carousel__content">
                    {{ .Summary | markdownify }}
                  </div>
                  <div class="post-carousel__readnext">
                    <a href="{{ .RelPermalink }}">En lire plus <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                  </div>
                </div>
                </div>
                {{ with .Resources.GetMatch .Params.thumbnail }}
                {{ $image := .Fill "1900x800 Center" }}
                <img class="illustration" src="{{ $image.RelPermalink }}" alt="">
                {{ end }}
                {{ $index = add $index 1 }}
              </li>
              {{ $num = add $num 1 }}
              {{ end }}
          </ul>
  
          <ol>
            {{ range $num := (seq 3) }}
            <li><a href="#article_slide{{ $num }}">page {{ $num }}</a></li>
            {{ end }}
          </ol>
  
          <div class="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
          <div class="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        </div>
    </div>

    <div class="post-list__body">
      <div class="centered-content">

        {{ partial "list_categories" . }}

        <div class="post-list__summaries">
          <div class="three-cols-layout">
            {{ $idx := 0 }}
            {{ $citations := slice }}
            {{ range .Site.Data.citations.citation | shuffle }}
              {{ $citations = $citations | append .}}
            {{ end }}
            {{ range $index, $persons := .Paginator.Pages }}
            {{ if (and (modBool $index 5) (not (eq $index 0)) ) }}
              <div class="col col--margined citation">
                {{ with (index $citations $idx) }}
                <h2 class="citation__text">{{ .Text }}</h2>
                <h3 class="citation__author">{{ .Author }}</h3>
                {{ end }}
              </div>
              {{ $idx = add $idx 1}}
              {{ end }}
            <div class="col col--margined">
              {{ .Render "summary" }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>

    <div class="post-list__footer">
      {{ partial "pagination.html" . }}
    </div>

  </div>
</main>
{{ end }}
