{{ define "opengraphheader" }}
{{ partial "opengraph.html" . }}
{{ partial "twitter_cards.html" . }}
{{ end }}

{{ define "main" }}
<div class="post-list__header">
    <div class="centered-content">
      <div class="three-cols-layout">
        <div class="col col--margined">
          {{ with .Resources.GetMatch "search-image.png" }}
          {{ $image := .Fill "1900x800" }}
        </div>
      </div>
    </div>
          <img class="illustration" src="{{ $image.RelPermalink }}" alt="">
          {{ end }}
  </div>

{{ partial "list_categories" . }}

<div class="post-list">
    <div class="post-list__body">
        <div class="centered-content">
            <div class="post-list__summaries">
                <div id="app" class="three-cols-layout">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/search/lunr-v2.3.9.js"></script>
<script src="/js/search/lunr.stemmer.support.js"></script>
<script src="/js/search/lunr.multi.js"></script>
<script src="/js/search/lunr.fr.js"></script>
{{ $p := slice }}
{{ range ( first 3 ( where .Site.RegularPages "Type" "posts" ).ByDate.Reverse ) }}
{{ $post := dict "link" .RelPermalink "thumbnail" .Params.thumbnail "title" .Title "content" (substr .Plain 0 200) -}}
{{ $p = $p | append $post -}}
{{ end }}
<script>
    const posts = {{ $p | jsonify | safeJS }};
    const query = new URLSearchParams(window.location.search);
    const searchString = query.get('q');
    document.querySelector('#search').value = searchString;
    const $target = document.querySelector('#app');

    // Our index uses title as a reference
    const postsByTitle = posts.reduce((acc, curr) => {
        acc[curr.title] = curr;
        return acc;
    }, {});

    fetch('/search.json')
        .then(function (res) {
            return res.json();
        })
        .then(function (data) {
            lunr.multiLanguage('en', 'fr');
            const index = lunr.Index.load(data);
            const matches = index.search(searchString);

            if (matches.length > 0) {
                const postsToPrint = matches
                    .filter(p => { return typeof (p) != "undefined" })
                    .forEach(post => {
                        fetch('/posts/' + post.ref + '/summary.html').then(function (response) {
                            // When the page is loaded convert it to text
                            return response.text()
                        }).then(function (html) {
                                // Initialize the DOM parser
                                const parser = new DOMParser();

                                // Parse the text
                                const doc = parser.parseFromString(html, "text/html");

                                $target.innerHTML += '<div class="col col--margined"><article class="post-summary">' 
                                    + doc.querySelector('article').innerHTML
                                    + '</article></div>'
                            })
                            .catch(function (err) {
                                console.log('Failed to fetch page: ', err);
                            });
                    });
            } else {
                $target.innerHTML = `<div>No search results found</div>`;
            }
        });
</script>

<div class="post-list__footer">
</div>
{{ end }}
