{{ $ordinal := .Get "ordinal" }}
<figure class="center-small">
 {{ $carousel := index .Page.Params.carousels $ordinal }}
<div id="carousel{{ $ordinal }}" class="carousel" duration="{{ .Get `duration` }}">
 <ul style="margin: 0; padding: 0;">
 {{ range $index, $slide := $carousel }}
  {{ with $.Page.Resources.GetMatch $slide }}
  <li style="margin: 0; min-width: 100%; padding-bottom: 100%;" id="carousel{{ $ordinal }}_slide{{ add $index 1}}"><img src="{{ $slide }}" alt="" width="{{.Width}}" height="{{.Height}}"/><div></div></li>
  {{ end }}
 {{ end }}
 </ul>
 <ol style="display:none">
  {{ range $index, $page := $carousel }}
  <li><a href="#carousel{{ $ordinal }}_slide{{ add $index 1 }}">Slide {{ add $index 1 }}</a></li>
  {{ end }}
 </ol>
 <div class="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
 <div class="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
</div>
</figure>

